.cs-header {
    background-color:#1E9FCC;
}

.cs-header__inner-container {
    margin-top:30px;
    margin-bottom:30px;
}
.cs-header__corporate-logo {
    text-align:right;
    padding-top:20px;
}
.cs-header__product-logo {

}


.cs-headline {
    margin-top:30px;
}

.cs-headline--m {
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #1E9FCC;
    margin-bottom:20px;
}

.cs-content {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}


.cs-hidden {
    display:none;
}

.cs-divider {
    margin-top:40px;
    border-color: #1E9FCC;
}

.cs-meme-container {
    padding:30px;
}

.cs-notice-in-progress {
    background-color: #ffa354;
    padding:20px;
    color:#fff;
    font-weight:bold;
}
