{% set CURRENT_PAGE_ID = 99 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
   <title>Author and License | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
   <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
   <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Author and License', 'm') }}

        <h3 class="cs-headline cs-headline--s">Author</h3>

        <p>Author is comSysto GmbH.</p>

        <h3 class="cs-headline cs-headline--s">License</h3>

        <ul>
            <li><p>The project sources are free for personal and commercial use under the terms of the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported (CC BY 3.0) License</a>.</p></li>
            <li><p>The <a href="https://thenounproject.com/term/dishwasher/29752/">dishes icon</a> in the logo is licensed under <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 (CC BY 3.0 US) License</a></p></li>
        </ul>


    </div>
</div>

{% endblock %}
