{% set bodyClass = "" %}
{% set CURRENT_PAGE_ID = -1 %}
{% extends layoutSourceDir + "/layout_landing.html" %}
{% block head %}
    <title>Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by Comsysto Reply</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
    <meta name="robots" content="index, follow">


{% endblock %}
{% block content %}


<div class="container-fluid cs-landing-header">
    <div class="row cs-landing-header-inner">
        <div class="col-md-12 text-center">
            <a href="./" class="cs-landing-logo">
                <span class="cs-landing-logo-img d-none d-sm-block"></span>
                <h1>Kitchen Duty Plugin</h1>
                <h2>Tutorial for Atlassian JIRA®</h2>
            </a>
        </div>
        <div class="col-md-12 text-center cs-landing-button-wrapper">

            <span class="cs-landing-teaser">
                This interactive tutorial will show you how to write a simple plugin for Atlassian JIRA® Server. <br>
                <span class="d-none d-sm-block">We will focus on JIRA® 7 for hosted installation types. You will be guided step by step.</span>
            </span>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="cs-landing-button"
               href="./tutorial/01-introduction/">START TUTORIAL</a>

        </div>
        <div class="col-md-12 d-none d-sm-block text-center">
            <a href="https://comsystoreply.de/" target="_blank"><img src="/kitchen-duty-plugin-for-atlassian-jira/images/comsysto-logo.png" style="width:150px; margin-top:-20px;" alt="Comsysto Reply"/></a>
        </div>
    </div>
</div>

{% endblock %}
