{% set bodyClass = "" %}
{% set CURRENT_PAGE_ID = -1 %}
{% extends layoutSourceDir + "/layout_landing.html" %}
{% block head %}
    <title>Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by Comsysto Reply</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
    <meta name="robots" content="index, follow">


{% endblock %}
{% block content %}


<div class="container-fluid cs-landing-header">
    <div class="row cs-landing-header-inner">
        <div class="col-md-12 text-center">
            <a href="./" class="cs-landing-logo">
                <span class="cs-landing-logo-img hidden-sm-down"></span>
                <h1>Kitchen Duty Plugin</h1>
                <h2>for Atlassian JIRA® by Comsysto Reply</h2>
            </a>
        </div>
        <div class="col-md-12 text-center cs-landing-button-wrapper">

            <span class="cs-landing-teaser">
                This interactive tutorial will show you how to write a simple plugin for Atlassian JIRA®. <br>
                <span class="hidden-sm-down">We will focus on JIRA® 7 for hosted installation types and you will be guided step by step.</span>
            </span>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="cs-landing-button"
               href="./tutorial/01-introduction/">START TUTORIAL</a>

        </div>
        <div class="col-md-12 hidden-xs hidden-sm  text-center">
            <a href="https://comsysto.com/leistungen/atlassian-solutions" target="_blank"><img src="/kitchen-duty-plugin-for-atlassian-jira/images/comsysto-logo.png" style="width:250px; margin-top:-20px;" alt="Comsysto Reply"/></a>
        </div>
    </div>
</div>

{% endblock %}
