{% set CURRENT_PAGE_ID = 8 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Kitchen Duty Planning JS Controller ~ Planning Page | Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by Comsysto Reply</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Kitchen Duty Planning JS Controller', 'm') }}

        <!--             COMMIT BEFORE STEP 5: 9bffb0671a25637faa7641dc3393163a043614db -->

                {{ weAreWorkingOnIt() }}



        <p>Some time has passed since I worked on this Plugin tutorial - <strong>it is mid 2018 now</strong> - and we need to catch up to some things.</p>

        <h3 class="cs-headline cs-headline--s">What changed?</h3>


        <p><strong>1. <a href="https://community.developer.atlassian.com/t/the-license-for-aui-7-is-changing">State and future of AUI library</a>:</strong></p>
        <ul>
            <li><strong><a href="https://atlaskit.atlassian.com/">AtlasKit library</a></strong> is based on ReactJS and is used for <strong><a href="https://developer.atlassian.com/cloud/jira/platform/integrating-with-jira-cloud/">Cloud Plugin Development</a></strong>.</li>
            <li><strong><a href="https://docs.atlassian.com/aui/">AUI library</a></strong> is based on JQuery and is used for <strong>Server Plugin Development.</strong></li>
            <li>
                That means we will continue using AUI for our plugin. And even though we could hit it with NPM, React, Angular, Webpack and all
                that fancy shenanigans, we will write oldschool ES5 JavaScript code that directly executes in all browsers including ol' grandpa IE11.
                I leave the crazy JavaScript build chain stuff up to you. The mechanisms explained in the tutorial are the same for both ways.
            </li>
        </ul>

        <p><strong>2. AUI Redesign + JIRA version upgrade</strong></p>

        <ul>
            <li>We now compile against JIRA 7.10 and use Atlassian SDK version 6.3.10 (simply upgrade your SDK).</li>
            <li>
                JIRA Software underwent a redesign now looks like this. But all components of AUI just work the same way.<br>

            </li>
        </ul>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-05-jira-now.png" data-lightbox="05-step" data-title="Step 5 - JIRA Redesign">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-05-jira-now.png" class="img-thumbnail img-fluid cs-tutorial-image" alt="Step 5 - JIRA Redesign">
                    </a>
                </p>
            </div>
        </div>


        <h3 class="cs-headline cs-headline--s">REST API Endpoint</h3>

        <p>In step 4 we implemented logic to persist only one user for a week. We need to change that to multiple users per week.</p>

        <p>
            Therefore I have changed the endoints to do so. Basically I added just som for-each loops and some missing <code>activeObjects.flush(entity)</code> statements.
            Since in the user selectfield (AUI Select) you can remove users and the HTTP PUT Request always contains a full list of users, we do not need the explicit delete-endpoint anymore.
            We simply update the relationships in our <code>@PUT</code> endpoint.
        </p>


        <div class="row">
            <div class="col-md-12">
            {{ csSource(lang='java', filepath="src/main/java/com/comsysto/kitchen/duty/rest/", filename="KitchenDutyPlanningResource.java", ghBaseUrl=gitHubBaseUrlForStep5, uniqueId='x3eewr8dsfsf67987ij', source='
            |package com.comsysto.kitchen.duty.rest;
            |...
            |
            |@Named
            |@Path("/planning")
            |public class KitchenDutyPlanningResource {
            |...
            |
            |
            |    /*
            |     * Get all Users assigned to the isoWeekNumber.
            |     */
            |    @GET
            |    @Path("/week/{isoWeekNumber}/users")
            |    @Produces({MediaType.APPLICATION_JSON})
            |    @AnonymousAllowed
            |    public Response getUsersForWeek(@PathParam("isoWeekNumber") final Integer isoWeekNumber) {
            |        Week week = activeObjects.executeInTransaction(new TransactionCallback<Week>() {
            |            @Override
            |            public Week doInTransaction() {
            |                Week[] weeks = activeObjects.find(Week.class, Query.select().where("WEEK = ?", isoWeekNumber));
            |                if (weeks != null && weeks.length > 0) {
            |                    return weeks[0];
            |                }
            |                return null;
            |            }
            |        });
            |        List<KitchenDutyPlanningResourceUserModel> users = new ArrayList<>();
            |        if (week != null) {
            |            UserToWeek[] relationships = activeObjects.executeInTransaction(new TransactionCallback<UserToWeek[]>() {
            |                @Override
            |                public UserToWeek[] doInTransaction() {
            |                    return KitchenDutyActiveObjectHelper.findAllRelationships(activeObjects, week);
            |                }
            |            });
            |            if (relationships != null) {
            |                for (UserToWeek userToWeek : relationships) {
            |                    users.add(new KitchenDutyPlanningResourceUserModel(userToWeek.getUser().getID(), userToWeek.getUser().getName()));
            |                }
            |            }
            |        }
            |        return Response.ok(users).build();
            |    }
            |
            |    /*
            |     * Add the Users to the Week
            |     */
            |    @PUT
            |    @Path("/week/{isoWeekNumber}/users")
            |    @Produces({MediaType.APPLICATION_JSON})
            |    @AnonymousAllowed
            |    public Response addUserToWeek(@PathParam("isoWeekNumber") final Integer isoWeekNumber,
            |                                  final List<KitchenDutyPlanningResourceUserModel> userParams) {
            |        activeObjects.executeInTransaction(new TransactionCallback<Void>() {
            |            @Override
            |            public Void doInTransaction() {
            |                //
            |                // WEEK
            |                //
            |                Week week = KitchenDutyActiveObjectHelper.findUniqueWeek(activeObjects, isoWeekNumber);
            |                if (week == null) {
            |                    week = activeObjects.create(Week.class, new DBParam("WEEK", isoWeekNumber));
            |                    week.save();
            |                    activeObjects.flush(week);
            |                }
            |
            |                //
            |                // CLEANUP EXISTING RELATIONSHIPS
            |                //
            |                UserToWeek[] existingRelationships = KitchenDutyActiveObjectHelper.findAllRelationships(activeObjects, week);
            |                if (existingRelationships != null) {
            |                    for (UserToWeek existingRelationship : existingRelationships) {
            |                        activeObjects.delete(existingRelationship);
            |                        activeObjects.flush(existingRelationship);
            |                    }
            |                }
            |
            |                //
            |                // USER
            |                //
            |                for (KitchenDutyPlanningResourceUserModel userParam : userParams) {
            |                    User user = KitchenDutyActiveObjectHelper.findUniqueUser(activeObjects, userParam.getUsername());
            |                    if (user == null) {
            |                        user = activeObjects.create(User.class, new DBParam("NAME", userParam.getUsername()));
            |                        user.save();
            |                        activeObjects.flush(user);
            |                    }
            |                    //
            |                    // Establish ManyToMany Relationship
            |                    //
            |                    UserToWeek relationship = KitchenDutyActiveObjectHelper.findRelationship(activeObjects, user, week);
            |                    if (relationship == null) {
            |                        relationship = activeObjects.create(UserToWeek.class);
            |                        relationship.setUser(user);
            |                        relationship.setWeek(week);
            |                        relationship.save();
            |                        activeObjects.flush(relationship);
            |                    }
            |                }
            |
            |                return null;
            |            }
            |        });
            |        return Response.ok().build();
            |    }
            ') }}
            </div>
        </div>

        <h3 class="cs-headline cs-headline--s">Moment JS and AUI Preparations</h3>

        <p>
            We need to add the dependency for the <a href="https://docs.atlassian.com/aui/7.9.5/docs/date-picker.html">AUI date picker</a> to our <code>atlassian-plugin.xml</code>
            and put a copy of <a href="http://momentjs.com/"><code>moment.min.js</code></a> inside <code>src/main/resources/js/3rdparty/</code>.
        </p>
        <p>
        {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep5, uniqueId='u89hionbhvufghoijklnjbhg', source='
            |<web-resource key="kitchen-duty-plugin-resources--planning-page" name="kitchen-duty-plugin Web Resources for Planning Page">
            |  <dependency>com.atlassian.auiplugin:ajs</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-select2</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-experimental-soy-templates</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-date-picker</dependency> {{{point::1}}}
            |  <transformation extension="soy">
            |    <transformer key="soyTransformer">
            |      <functions>com.atlassian.confluence.plugins.soy:soy-core-functions</functions>
            |    </transformer>
            |  </transformation>
            |  <resource type="download" name="momentjs.js"
            |            location="/js/3rdparty/moment-2.22.2.min.js"/>
            |  <resource type="download" name="kitchen-duty-planning-soy.js"
            |            location="templates-soy/kitchen-duty-planning.soy"/>
            |  <resource type="download" name="kitchen-duty-plugin--planning-page-controller.js"
            |            location="/js/kitchen-duty-plugin--planning-page-controller.js"/> {{{point::2}}}
            |  <context>kitchen-duty-plugin</context>
            |</web-resource>
        ') }}
        </p>

        <h3 class="cs-headline cs-headline--s">JS Controller</h3>

        <p>
            We <strong>edit our Planning Page JS-Controller</strong> file in <code>/src/main/resources/js/kitchen-duty-plugin--planning-page-controller.js</code>.
            I have extended the existing code to load and save the users per week. This JS code uses now multiple soy templates which you will see below.
        </p>

        {{ csSource(lang='js', filepath="src/main/resources/js/", filename="kitchen-duty-plugin--planning-page-controller.js", ghBaseUrl=gitHubBaseUrlForStep5, source="
            |var showSuccessFlag = function(message) {
            |    require(['aui/flag'], function(flag) {
            |        flag({
            |            type: 'success',
            |            title: 'Kitchen Duty Plugin',
            |            close: 'auto',
            |            body: message
            |        });
            |    });
            |};
            |var showErrorFlag = function(message) {
            |    require(['aui/flag'], function(flag) {
            |        flag({
            |            type: 'error',
            |            title: 'Kitchen Duty Plugin',
            |            close: 'auto',
            |            body: message
            |        });
            |    });
            |};
            |
            |var initUserSearch = function(weekIsoWeekNumber) {
            |    // Init SOY template
            |    var planningPageWeekUsersTemplate = JIRA.Templates.KDP.planningPageWeekUsers({
            |        isoWeek: weekIsoWeekNumber
            |    });
            |    AJS.$('#kdp-planning-page-week-users-container').html(planningPageWeekUsersTemplate);
            |
            |    // Init actions
            |    var auiUserSelectOptions = {
            |        ajax: {
            |            url: function () { return window.KDPrestUrl + '/user/search'; },
            |            dataType: 'json',
            |            delay: 250,
            |            data: function (searchTerm) { return { query: searchTerm }; },
            |            results: function (data) { return { results: data }; },
            |            cache: true
            |        },
            |        minimumInputLength: 1,
            |        tags: 'true'
            |    };
            |    AJS.$('#kdp-user-select').auiSelect2(auiUserSelectOptions);
            |
            |    // Load initial values from REST API and set for aui-select
            |    if (weekIsoWeekNumber !== null) {
            |        AJS.$.ajax({
            |            url: window.KDPrestUrl + '/planning/week/' + weekIsoWeekNumber + '/users',
            |            dataType: 'json',
            |            success: function(users) {
            |                var selectedUserList = [];
            |                if (users !== null) {
            |                    users.forEach(function(user) {
            |                        selectedUserList.push({ id: user.username, text: user.username });
            |                    });
            |                    AJS.$('#kdp-user-select').select2('data', selectedUserList);
            |                }
            |            }
            |        });
            |    }
            |
            |    // Save users on save button click
            |    AJS.$('#kdp-user-select-form').off(); // remove previous listeners
            |    AJS.$('#kdp-user-select-form').submit(function (e) {
            |        e.preventDefault();
            |        var selectedUserList = [];
            |        AJS.$(AJS.$('#kdp-user-select').select2('data')).each(function () {
            |            // we need to transform the JSON sent to the Endpoint since it
            |            // has to be in specific format
            |            selectedUserList.push({ username: this.text });
            |        });
            |        AJS.$.ajax({
            |            url: window.KDPrestUrl + '/planning/week/' + weekIsoWeekNumber + '/users',
            |            type: 'PUT',
            |            contentType: 'application/json',
            |            data: JSON.stringify(selectedUserList),
            |            processData: false,
            |            success: function() {
            |                showSuccessFlag('Saved users for Week ' + weekIsoWeekNumber);
            |            },
            |            error: function() {
            |                showErrorFlag('Failed to save users for Week ' + weekIsoWeekNumber);
            |            }
            |        });
            |    });
            |};
            |
            |var initWeekPicker = function() {
            |    // Init SOY template
            |    var planningPageWeekTemplate = JIRA.Templates.KDP.planningPageWeek();
            |    AJS.$('#kdp-planning-page-week-container').html(planningPageWeekTemplate);
            |
            |    // Init actions
            |    AJS.$('#week-picker').off(); // remove previous listeners
            |    AJS.$('#week-picker').datePicker({'overrideBrowserDefault': true});
            |    AJS.$('#week-picker').change(function() {
            |        var isoWeek = moment(AJS.$('#week-picker').val()).isoWeek();
            |        initUserSearch(isoWeek);
            |    });
            |};
            |
            |AJS.toInit(function(){
            |    AJS.log('KDP: Planning Page Controller initializing ...');
            |    var baseUrl = AJS.params.baseURL;
            |    var restUrl = baseUrl + '/rest/kitchenduty/1.0';
            |    window.KDPrestUrl = restUrl;
            |
            |    // Init Base SOY template
            |    var planningPageTemplate = JIRA.Templates.KDP.planningPage();
            |    AJS.$('#kdp-planning-page-container').html(planningPageTemplate);
            |
            |    // Init child templates
            |    initWeekPicker();
            |    initUserSearch(null);
            |});
            |
        ") }}

        <p>There are now multiple soy templates. We even now have a <strong>parameterized soy template</strong> to pass the iso-week number to a template and render it conditionally.</p>

        <div class="row">
            <div class="col-md-8">
                {{ csSource(lang='soy', filepath="src/main/resources/templates-soy/", filename="kitchen-duty-planning.soy",
                            ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='dfghs5zdfsfsdfdf', source='
                            |{namespace JIRA.Templates.KDP}
                            |/**
                            | * Kitchen Duty Planning Page - Base Template
                            | */
                            |{template .planningPage} {{{point::1}}}
                            |    <form class="aui" id="kdp-user-select-form">
                            |        <div id="kdp-planning-page-week-container"></div>
                            |        <div id="kdp-planning-page-week-users-container"></div>
                            |    </form>
                            |{/template}
                            |
                            |/**
                            | * Kitchen Duty Planning Page - Week Select Template
                            | */
                            |{template .planningPageWeek}
                            |    <h4 class="kdp-step-headline">1. Select Week</h4>
                            |    <div class="kdp-step-content">
                            |        <input
                            |          class="aui-date-picker aui-button"
                            |          id="week-picker"
                            |          type="date"
                            |          max="2050-01-25"
                            |          min="2011-12-25"
                            |        />
                            |    </div>
                            |{/template}
                            |
                            |/**
                            | * Kitchen Duty Planning Page - User Search Template
                            | */
                            |{template .planningPageWeekUsers}
                            |    {@param? isoWeek: int}
                            |    <h4 class="kdp-step-headline">
                            |        2. Kitchen Duty for Week&nbsp;
                            |        {if $isoWeek != null }
                            |            <aui-badge class="aui-badge-primary">
                            |                <span id="iso-week-label">{isoWeek}</span>
                            |            </aui-badge>
                            |        {else}
                            |            <aui-badge><span id="iso-week-label">...</span></aui-badge>
                            |        {/if}
                            |    </h4>
                            |    <div class="kdp-step-content">
                            |        {if $isoWeek == null }
                            |            <div>- no week selected -</div>
                            |        {else}
                            |            <div >Users on kitchen duty for selected week:</div>
                            |            <div
                            |              id="kdp-user-select"
                            |              name="kdp-user-select"
                            |              class="kdp-aui-select"
                            |              multiple=""
                            |              placeholder="start typing a username ..."
                            |            ></div>
                            |            <br/><br/>
                            |            <input
                            |              class="button submit"
                            |              type="submit"
                            |              id="kdp-user-select-save-button"
                            |              value="save"
                            |            />
                            |        {/if}
                            |    </div>
                            |{/template}
                            |
                            |
                            |/**
                            | * Kitchen Duty Planning Page - Foo
                            | */
                            |{template .foo}
                            |bar
                            |{/template}
                            |
                ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="dfghs5zdfsfsdfdf">
                    <div class="list-group-item cs-source-point-list__item">
                       todo             http://momentjs.com/docs/#/get-set/iso-week/

                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-05-planning-page-working.gif" data-lightbox="05-step" data-title="Step 5 - Planning Page working">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-05-planning-page-working.gif" class="img-thumbnail img-fluid cs-tutorial-image" alt="Step 5 - Planning Page working">
                    </a>
                </p>
            </div>
        </div>



        <div class="cs-v-spacer"></div>
        <div class="cs-tutorial-step-review">
            <div class="cs-tutorial-step-review__headline">
                <strong>You have completed Step 5.</strong> Good Job! You can check out this steps solution on GitHub
            </div>
            <div class="cs-tutorial-step-review__link">
                <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-05-kitchen-duty-plugin">
                    https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-05-kitchen-duty-plugin
                </a>
            </div>
        </div>
        <div class="cs-v-spacer"></div>
        <p>The graphic shows marked green <strong>which components we implemented in this section</strong>.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                {{ interactiveGraphic('p07-ig01', 'kitchen-duty-planning-page--component-overview',
                '{
                    "markedAsDone": [ "webwork-action", "html-view", "user-resource", "user-search-resource-model", "user-js-controller", "kitchen-duty-resource", "kitchen-duty-planning-model", "kitchen-duty-js-controller" ],
                    "markedAsTodo": [  ],
                    "markedAsGrayedOut": [ ],
                    "onClick": [ ]
                }')
                }}
            </div>
        </div>

        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>

    </div>
</div>


{% endblock %}
