{% set CURRENT_PAGE_ID = 8 %}
{% set gitHubBaseUrlForStep5 = 'https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/blob/__COMMIT__/step-05-kitchen-duty-plugin/' %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Kitchen Duty Planning JS Controller ~ Planning Page | Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by Comsysto Reply</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Kitchen Duty Planning JS Controller', 'm') }}

        <!-- COMMIT BEFORE STEP 5: 9bffb0671a25637faa7641dc3393163a043614db -->

        <p>Some time has passed since I worked on this Plugin tutorial - <strong>it is mid 2018 now</strong> - and we need to catch up to some things.</p>

        <h3 class="cs-headline cs-headline--s">What has changed since 2017?</h3>


        <p><strong>1. State and future of AUI library:</strong></p>
        <ul>
            <li><strong><a href="https://atlaskit.atlassian.com/">AtlasKit library</a></strong> is based on ReactJS and is used for <strong><a href="https://developer.atlassian.com/cloud/jira/platform/integrating-with-jira-cloud/">Cloud Plugin Development</a></strong>.</li>
            <li><strong><a href="https://docs.atlassian.com/aui/">AUI library</a></strong> is based on JQuery and is used for <strong>Server Plugin Development.</strong></li>
            <li><a href="https://community.developer.atlassian.com/t/the-license-for-aui-7-is-changing">AUI Library has now a more "closed-source" License</a>, meaning you cannot use AUI version greater 7 for non-Atlassian products. If you have a website or standalone product using AUI for your UI you should check the license terms.</a>
            <li>
                That means we will continue using AUI for our plugin. And even though we could hit it with NPM, React, Angular, Webpack and all
                that fancy shenanigans, we will write oldschool ES5 JavaScript code that directly executes in all browsers including ol' grandpa IE11.
                I leave the crazy JavaScript build chain stuff up to you. The mechanisms explained in the tutorial are the same for both ways.
            </li>
        </ul>

        <p><strong>2. AUI Redesign + JIRA version upgrade</strong></p>

        <ul>
            <li>We now compile against JIRA 7.10 and use Atlassian SDK version 6.3.10 therefore upgrade your Atlassian SDK. Also are we now compiling against Java 8. Update your <code>pom.xml</code> accordingly.</li>
            <li>
                JIRA Software underwent a redesign now looks like this. But all components of AUI just work the same way.<br>

            </li>
        </ul>
        <div class="row  ml-2">
            <div class="col-md-6">
                {{ image('doc/step-05-jira-now.png', 'Step 5 - JIRA Redesign', '100%') }}
            </div>
            <div class="col-md-6">
                {{ csSource(lang='xml', filepath="", filename="pom.xml", ghBaseUrl=(gitHubBaseUrlForStep5 | replace("__COMMIT__", "502903955096146b308efbf5018c5457905f00bb")), uniqueId='x3eewr8dadfdfsdsfsf6df7987ij', source='
                    |<project>
                    |    ...
                    |    <build>
                    |        <plugins>
                    |            ...
                    |            <plugin>
                    |                <artifactId>maven-compiler-plugin</artifactId>
                    |                <version>3.3</version>
                    |                <configuration>
                    |                    <source>1.8</source>
                    |                    <target>1.8</target>
                    |                </configuration>
                    |            </plugin>
                    |        </plugins>
                    |    </build>
                    |    <properties>
                    |        <jira.version>7.10.0</jira.version>
                    |        <amps.version>6.3.15</amps.version>
                    |        ...
                    |    </properties>
                    |</project>
                ') }}
            </div>
        </div>


        <h3 class="cs-headline cs-headline--s">What we want to achieve</h3>

        <p>
            Basically we want to first have the user select the week. Then we want to show a multi-select textfield containing
            existing users for that week and beeing able to add or remove users for that week.
            That means <strong>the template of the user selection loads conditionally by the week number</strong>.
        </p>
        <div class="row">
            <div class="col-md-6">
                {{ image('doc/step-05-planning-page-working.gif', 'Step 5 - Planning Page working', '100%') }}
            </div>
            <div class="col-md-6">
                {{ image('doc/step-05-templates.png', 'Step 5 - Planning Page Soy Templates', '100%') }}
            </div>
        </div>


        <p>There are now multiple soy templates as shown in the graphic above which we will later use from our JavaScript code to render the planning page.</p>

        <div class="row">
            <div class="col-md-7">
                {{ csSource(lang='soy', filepath="src/main/resources/templates-soy/", filename="kitchen-duty-planning.soy",
                            ghBaseUrl=(gitHubBaseUrlForStep5 | replace("__COMMIT__", "502903955096146b308efbf5018c5457905f00bb")), uniqueId='dfghs5zdfsfsdfdf', source='
                            |{namespace JIRA.Templates.KDP}
                            |
                            |{template .planningPage} {{{point::1}}}
                            |    <form class="aui" id="kdp-user-select-form">
                            |        <div id="kdp-planning-page-week-container"></div>
                            |        <div id="kdp-planning-page-week-users-container"></div>
                            |    </form>
                            |{/template}
                            |
                            |{template .planningPageWeek} {{{point::2}}}
                            |    <h4 class="kdp-step-headline">1. Select Week</h4>
                            |    <div class="kdp-step-content">
                            |        <input
                            |          class="aui-date-picker aui-button"
                            |          id="week-picker"
                            |          type="date"
                            |          max="2050-01-25"
                            |          min="2011-12-25"
                            |        />
                            |    </div>
                            |{/template}
                            |
                            |{template .planningPageWeekUsers} {{{point::3}}}
                            |    {@param? week: int} {{{point::4}}}
                            |    <h4 class="kdp-step-headline">
                            |        2. Kitchen Duty for Week&nbsp;
                            |        {if $week != null } {{{point::5}}}
                            |            <aui-badge class="aui-badge-primary">
                            |                <span id="week-label">{week}</span>
                            |            </aui-badge>
                            |        {else}
                            |            <aui-badge>
                            |                <span id="week-label">...</span>
                            |            </aui-badge>
                            |        {/if}
                            |    </h4>
                            |    <div class="kdp-step-content">
                            |        {if $week == null } {{{point::6}}}
                            |            <div>- no week selected -</div>
                            |        {else}
                            |            <div>Users on kitchen duty for selected week:</div>
                            |            <div
                            |              id="kdp-user-select"
                            |              name="kdp-user-select"
                            |              class="kdp-aui-select"
                            |              multiple=""
                            |              placeholder="start typing a username ..."
                            |            ></div>
                            |            <br/><br/>
                            |            <input
                            |              class="button submit"
                            |              type="submit"
                            |              id="kdp-user-select-save-button"
                            |              value="save"
                            |            />
                            |        {/if}
                            |    </div>
                            |{/template}
                ') }}
            </div>
            <div class="col-md-5 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="dfghs5zdfsfsdfdf">
                    <div class="list-group-item cs-source-point-list__item">
                       <strong>planningPage</strong> is the base template we inject into the page that has two divs with ids we later use to inject
                       the other two rendered templates.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        <strong>planningPageWeek</strong> is the template for the week selection. This template is only rendered once on page load.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        <strong>planningPageWeekUsers</strong> is the template for the user to week selection.
                        This template is re-rendered multiple times since it is a <strong>parameterized soy template</strong>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        <strong>week parameter</strong> is used to pass the week number to the template.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        conditionally render the template for week being null (=no week selected) or week greater zero (=week selected).
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        when the week is null display a message, otherwise render the AUI Select 2 field for the user selection.
                    </div>
                </div>
            </div>
        </div>

        <p>We will later use the templates from our JavaScript code but for now we need again do something in Java.</p>


        <h3 class="cs-headline cs-headline--s">REST API Endpoint</h3>

        <p>In step four we implemented logic to persist only one user for a week. We need to change that to multiple users per week because of the way the <a href="https://docs.atlassian.com/aui/7.8.1/docs/auiselect2.html">AUI Select 2</a> works.</p>

        <p>
            Therefore I have changed the endpoints to do so. Basically I added just some for-each loops and some missing <code>activeObjects.flush(entity)</code> statements that update the ID of the object after creating a new entity.
            With the AUI Select 2 user field you can remove and add users. The HTTP PUT Request always contains a full list of users therefore we do not need the explicit delete-endpoint anymore.
            We simply update the relationships in our <code>@PUT</code> endpoint.
        </p>


        <div class="row">
            <div class="col-md-8">
            {{ csSource(lang='java', filepath="src/main/java/com/comsysto/kitchen/duty/rest/", filename="KitchenDutyPlanningResource.java", ghBaseUrl=(gitHubBaseUrlForStep5 | replace("__COMMIT__", "502903955096146b308efbf5018c5457905f00bb")), uniqueId='x3eewr8dasdsfsf67987ij', source='
            |package com.comsysto.kitchen.duty.rest;
            |...
            |
            |@Named
            |@Path("/planning")
            |public class KitchenDutyPlanningResource {
            |...
            |
            |
            |    @GET
            |    @Path("/week/{weekNumber}/users")
            |    @Produces({MediaType.APPLICATION_JSON})
            |    @AnonymousAllowed
            |    public Response getUsersForWeek(@PathParam("weekNumber") final Integer weekNumber) {
            |        Week week = activeObjects.executeInTransaction(new TransactionCallback<Week>() {
            |            @Override
            |            public Week doInTransaction() {
            |                Week[] weeks = activeObjects.find(Week.class, Query.select().where("WEEK = ?", weekNumber));
            |                if (weeks != null && weeks.length > 0) {
            |                    return weeks[0];
            |                }
            |                return null;
            |            }
            |        });
            |        List<KitchenDutyPlanningResourceUserModel> users = new ArrayList<>();
            |        if (week != null) {
            |            UserToWeek[] relationships = activeObjects.executeInTransaction(new TransactionCallback<UserToWeek[]>() {
            |                @Override
            |                public UserToWeek[] doInTransaction() {
            |                    return KitchenDutyActiveObjectHelper.findAllRelationships(activeObjects, week); {{{point::1}}}
            |                }
            |            });
            |            if (relationships != null) {
            |                for (UserToWeek userToWeek : relationships) {
            |                    {{{point::2}}} users.add(new KitchenDutyPlanningResourceUserModel(userToWeek.getUser().getID(), userToWeek.getUser().getName()));
            |                }
            |            }
            |        }
            |        return Response.ok(users).build();
            |    }
            |
            |    /*
            |     * Add the Users to the Week
            |     */
            |    @PUT
            |    @Path("/week/{weekNumber}/users")
            |    @Produces({MediaType.APPLICATION_JSON})
            |    @AnonymousAllowed
            |    public Response addUserToWeek(@PathParam("weekNumber") final Integer weekNumber,
            |                                  final List<KitchenDutyPlanningResourceUserModel> userParams) {
            |        activeObjects.executeInTransaction(new TransactionCallback<Void>() {
            |            @Override
            |            public Void doInTransaction() {
            |                //
            |                // WEEK {{{point::3}}}
            |                //
            |               Week week = KitchenDutyActiveObjectHelper.findUniqueWeek(activeObjects, weekNumber);
            |                if (week == null) {
            |                    week = activeObjects.create(Week.class, new DBParam("WEEK", weekNumber));
            |                    week.save();
            |                    activeObjects.flush(week);
            |                }
            |
            |                //
            |                // CLEANUP EXISTING RELATIONSHIPS {{{point::4}}}
            |                //
            |                UserToWeek[] existingRelationships = KitchenDutyActiveObjectHelper.findAllRelationships(activeObjects, week);
            |                if (existingRelationships != null) {
            |                    for (UserToWeek existingRelationship : existingRelationships) {
            |                        activeObjects.delete(existingRelationship);
            |                        activeObjects.flush(existingRelationship);
            |                    }
            |                }
            |
            |                //
            |                // USER
            |                //
            |                for (KitchenDutyPlanningResourceUserModel userParam : userParams) {
            |                    User user = KitchenDutyActiveObjectHelper.findUniqueUser(activeObjects, userParam.getUsername());
            |                    if (user == null) {
            |                        user = activeObjects.create(User.class, new DBParam("NAME", userParam.getUsername()));
            |                        user.save();
            |                        activeObjects.flush(user);
            |                    }
            |                    //
            |                    // Establish ManyToMany Relationship {{{point::5}}}
            |                    //
            |                    UserToWeek relationship = KitchenDutyActiveObjectHelper.findRelationship(activeObjects, user, week);
            |                    if (relationship == null) {
            |                        relationship = activeObjects.create(UserToWeek.class);
            |                        relationship.setUser(user);
            |                        relationship.setWeek(week);
            |                        relationship.save();
            |                        activeObjects.flush(relationship);
            |                    }
            |                }
            |
            |                return null;
            |            }
            |        });
            |        return Response.ok().build();
            |    }
            ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="x3eewr8dasdsfsf67987ij">
                    <div class="list-group-item cs-source-point-list__item">
                       We now query the UserToWeek objects by Week, to get all UserToWeek objects from which we get the all the users assigned to the week.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Now we wrap all users in a List of <code>KitchenDutyPlanningResourceUserModel</code> which procudes
                        the JSON <code>[ { "id": 1, "username": "linda" }, { "id": 2, "username": "bob" } ]</code>
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        First we get the Week object or create it if it does not exist.
                        The <code>activeObjects.flush(entity)</code> ensures that the ID gets updated for the week.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Next we remove all users from that week. Why? Let's say bob and steve have been assigned to that week before.
                        Someone edited the users for that week and now it is steve and linda. So how can we tell that we need to remove bob
                        when we do not even have the information about that? We cannot. Therefore we simply remove all users from that week to add
                        the desginated users to that week later.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Assign the designated users to the week. This way we do not need the DELETE endpoint anymore since we simply always first remove
                        all users for a week and then assign the new userlist to the week.
                    </div>
                </div>
            </div>
        </div>

        <p>Having done that we can move on again to our frontend code.<p>

        <h3 class="cs-headline cs-headline--s">Moment JS and AUI Preparations</h3>

        <p>
            Since we want to calcuclate the week number from our date selected in the date picker we need some libraries to do so. Date calculations
            in JavaScript are best done with <a href="http://momentjs.com/">MomentJS</a>.
            We need to add the dependency for the <a href="https://docs.atlassian.com/aui/7.9.5/docs/date-picker.html">AUI date picker</a> to our <code>atlassian-plugin.xml</code>
            and put a copy of <a href="http://momentjs.com/"><code>moment.min.js</code></a> inside <code>src/main/resources/js/3rdparty/</code>.
        </p>
        <p>
        {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=(gitHubBaseUrlForStep5 | replace("__COMMIT__", "502903955096146b308efbf5018c5457905f00bb")), uniqueId='u89hionbhvufghoijklnjbhg', source='
            |<web-resource key="kitchen-duty-plugin-resources--planning-page" name="kitchen-duty-plugin Web Resources for Planning Page">
            |  <dependency>com.atlassian.auiplugin:ajs</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-select2</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-experimental-soy-templates</dependency>
            |  <dependency>com.atlassian.auiplugin:aui-date-picker</dependency> {{{point::1}}}
            |  <transformation extension="soy">
            |    <transformer key="soyTransformer">
            |      <functions>com.atlassian.confluence.plugins.soy:soy-core-functions</functions>
            |    </transformer>
            |  </transformation>
            |  <resource type="download" name="momentjs.js"
            |            location="/js/3rdparty/moment-2.22.2.min.js"/>
            |  <resource type="download" name="kitchen-duty-planning-soy.js"
            |            location="templates-soy/kitchen-duty-planning.soy"/>
            |  <resource type="download" name="kitchen-duty-plugin--planning-page-controller.js"
            |            location="/js/kitchen-duty-plugin--planning-page-controller.js"/> {{{point::2}}}
            |  <context>kitchen-duty-plugin</context>
            |</web-resource>
        ') }}
        </p>

        <h3 class="cs-headline cs-headline--s">JS Controller</h3>

        <p>
            We <strong>edit our existing Planning Page JS-Controller</strong> file in <code>/src/main/resources/js/kitchen-duty-plugin--planning-page-controller.js</code>.
            I have extended the existing code to load and save the users per week. This JS code now uses the soy templates defined above.
        </p>



        <div class="row">
            <div class="col-md-8">
        {{ csSource(lang='js', filepath="src/main/resources/js/", filename="kitchen-duty-plugin--planning-page-controller.js", ghBaseUrl=(gitHubBaseUrlForStep5 | replace("__COMMIT__", "502903955096146b308efbf5018c5457905f00bb")), uniqueId='sdfdfhg36ig', source="
            |var showSuccessFlag = function(message) {
            |    require(['aui/flag'], function(flag) {
            |        flag({
            |            type: 'success',
            |            title: 'Kitchen Duty Plugin',
            |            close: 'auto',
            |            body: message
            |        });
            |    });
            |};
            |var showErrorFlag = function(message) {
            |    require(['aui/flag'], function(flag) {
            |        flag({
            |            type: 'error',
            |            title: 'Kitchen Duty Plugin',
            |            close: 'auto',
            |            body: message
            |        });
            |    });
            |};
            |
            |var initUserSearch = function(weekNumber) { {{{point::1}}}
            |    // Init SOY template
            |    var planningPageWeekUsersTemplate = JIRA.Templates.KDP.planningPageWeekUsers({
            |        week: weekNumber {{{point::2}}}
            |    });
            |    AJS.$('#kdp-planning-page-week-users-container').html(planningPageWeekUsersTemplate); {{{point::3}}}
            |
            |    // Init actions
            |    var auiUserSelectOptions = {
            |        ajax: {
            |            url: function () { return window.KDPrestUrl + '/user/search'; },
            |            dataType: 'json',
            |            delay: 250,
            |            data: function (searchTerm) { return { query: searchTerm }; },
            |            results: function (data) { return { results: data }; },
            |            cache: true
            |        },
            |        minimumInputLength: 1,
            |        tags: 'true'
            |    };
            |    AJS.$('#kdp-user-select').auiSelect2(auiUserSelectOptions);
            |
            |    // Load initial values from REST API and set for aui-select
            |    if (weekNumber !== null) { {{{point::4}}}
            |        AJS.$.ajax({
            |            url: window.KDPrestUrl + '/planning/week/' + weekNumber + '/users',
            |            dataType: 'json',
            |            success: function(users) {
            |                var selectedUserList = [];
            |                if (users !== null) { {{{point::5}}}
            |                    users.forEach(function(user) {
            |                        selectedUserList.push({ id: user.username, text: user.username });
            |                    });
            |                    AJS.$('#kdp-user-select').select2('data', selectedUserList);
            |                }
            |            }
            |        });
            |    }
            |
            |    // Save users on save button click
            |    AJS.$('#kdp-user-select-form').off(); // remove previous listeners
            |    AJS.$('#kdp-user-select-form').submit(function (e) {
            |        e.preventDefault();
            |        var selectedUserList = [];
            |        AJS.$(AJS.$('#kdp-user-select').select2('data')).each(function () {
            |            // we need to transform the JSON sent to the Endpoint since it
            |            // has to be in specific format
            |            selectedUserList.push({ username: this.text });
            |        });
            |        AJS.$.ajax({ {{{point::6}}}
            |            url: window.KDPrestUrl + '/planning/week/' + weekNumber + '/users',
            |            type: 'PUT',
            |            contentType: 'application/json',
            |            data: JSON.stringify(selectedUserList),
            |            processData: false,
            |            success: function() {
            |                showSuccessFlag('Saved users for Week ' + weekNumber);
            |            },
            |            error: function() {
            |                showErrorFlag('Failed to save users for Week ' + weekNumber);
            |            }
            |        });
            |    });
            |};
            |
            |var initWeekPicker = function() { {{{point::7}}}
            |    // Init SOY template
            |    var planningPageWeekTemplate = JIRA.Templates.KDP.planningPageWeek();
            |    AJS.$('#kdp-planning-page-week-container').html(planningPageWeekTemplate);
            |
            |    // Init actions
            |    AJS.$('#week-picker').off(); // remove previous listeners
            |    AJS.$('#week-picker').datePicker({'overrideBrowserDefault': true});
            |    AJS.$('#week-picker').change(function() {
            |        var week = moment(AJS.$('#week-picker').val()).week(); {{{point::8}}}
            |        initUserSearch(week);
            |    });
            |};
            |
            |AJS.toInit(function(){
            |    AJS.log('KDP: Planning Page Controller initializing ...');
            |    var baseUrl = AJS.params.baseURL;
            |    var restUrl = baseUrl + '/rest/kitchenduty/1.0';
            |    window.KDPrestUrl = restUrl;
            |
            |    // set locale for moment-js so that week starts on sunday
            |    // and week numbers are correctly calculated
            |    moment.locale('en', {
            |        week: {
            |            dow: 0, // Sunday (0) is the first day of the week
            |            doy: 1  // Week that contains Jan 1st is the first week of the year.
            |        }
            |    });
            |    console.log('Week starts at: ' + moment().startOf('week').format('dddd'));
            |    console.log('Current moment locale: ' + moment().locale());
            |
            |    // Init Base SOY template {{{point::9}}}
            |    var planningPageTemplate = JIRA.Templates.KDP.planningPage();
            |    AJS.$('#kdp-planning-page-container').html(planningPageTemplate);
            |
            |    // Init child templates {{{point::10}}}
            |    initWeekPicker();
            |    initUserSearch(null);
            |});
            |
        ") }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="x3eewr8dasdsfsf67987ij">
                    <div class="list-group-item cs-source-point-list__item">
                       <strong>initUserSearch function</strong> renders the
                       <em>planningPageWeekUsers</em> soy template for the week number passed as parameter.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        <strong>week soy template parameter</strong> is passed to template from JavaScript function parameter.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The rendered <em>planningPageWeekUsers</em> soy template is injected into the DOM.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        If the <em>weekNumber</em> variable is not null (meaning user has selected a date), then
                        load existing users for that week from our REST Endpoint via HTTP GET.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        If we get a non empty userlist from the API (meaning there are already users assigned for that week),
                        we build us a custom array to pass to the AUI Select 2 field. With the <strong>select2 function</strong>
                        on the DOM element of the AUI Select 2 you can pass in initial data like so:
                        <code>AJS.$('#id').select2('data', [ { id: 'foo', text: 'foo' } ]);</code>
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        When the form is submitted (meaning user clicked save button), then
                        we first build ourselves a userlist in the format the API can handle <code>selectedUserList.push({ username: this.text });</code>.
                        Then we send the userlist via HTTP PUT to our Endpoint for the selected week.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        <strong>initWeekPicker function</strong> renders the
                        <em>planningPageWeek</em> soy template. This template is only rendered once on page load.
                        It initializes the <a href="https://docs.atlassian.com/aui/7.8.1/docs/date-picker.html">AUI Date picker</a> for our textfield.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        This is the real magic now. We register a <strong>change listener</strong> to our date picker field,
                        meaning that once the user selects a date the function is called.
                        Inside that function we get the selected date from the date picker and pass it to the
                        <a href="http://momentjs.com/docs/#/get-set/week/">MomentJS week() function</a> which returns us
                        the week number for that date.
                        And once we have the week number we <strong>trigger a re-render of the <em>planningPageWeekUsers</em> template</strong> for that week.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        In our <code>AJS.toInit()</code> function (which is executed after the DOM has loaded),
                        we render the base <em>planningPage</em> soy template.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Right after that we initially render the child templates.
                        First the <code>initWeekPicker()</code> and secondly
                        the <code>initUserSearch()</code> with a <code>null</code> parameter,
                        telling the function that the user has not yet selected a date.
                    </div>
                </div>
            </div>
        </div>




        <p>That's it. Now we can run our plugin with <code>atlas-run</code> and when navigating to <a href="http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa">http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa</a>
        it should work as you can see below. <strong>We are completely done implementing the Kitchen Duty Planning Page</strong>.</p>

        {{ image('doc/step-05-planning-page-working.gif', 'Step 5 - Planning Page working', '60%') }}

        <div class="cs-v-spacer"></div>
        <div class="cs-tutorial-step-review">
            <div class="cs-tutorial-step-review__headline">
                <strong>You have completed Step 5.</strong> Good Job! You can check out this step's solution on GitHub
            </div>
            <div class="cs-tutorial-step-review__link">
                <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-05-kitchen-duty-plugin">
                    https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-05-kitchen-duty-plugin
                </a>
            </div>
        </div>
        <div class="cs-v-spacer"></div>
        <p>The graphic shows marked green <strong>which components we implemented in this section</strong>.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                {{ interactiveGraphic('p07-ig01', 'kitchen-duty-planning-page--component-overview',
                '{
                    "markedAsDone": [ "webwork-action", "html-view", "user-resource", "user-search-resource-model", "user-js-controller", "kitchen-duty-resource", "kitchen-duty-planning-model", "kitchen-duty-js-controller" ],
                    "markedAsTodo": [  ],
                    "markedAsGrayedOut": [ ],
                    "onClick": [ ]
                }')
                }}
            </div>
        </div>

        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>

    </div>
</div>


{% endblock %}
