{% set CURRENT_PAGE_ID = 97 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
   <title>Impressum und Datenschutz | Kitchen Duty Plugin for Atlassian JIRA® by Comsysto Reply</title>
   <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
   <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Impressum und Datenschutz', 'm') }}





        <div class="row">
            <div class="col-md-6">
                <h3 class="cs-headline cs-headline--s">Imprint</h3>
                <p>The Imprint for this site resides here: <a href="https://comsysto.com/impressum" target="_blank">https://comsysto.com/impressum</a></p>

            </div>
            <div class="col-md-6">
                <h3 class="cs-headline cs-headline--s">Impressum</h3>
                <p>Das Impressum dieser Seite ist hier einzusehen: <a href="https://comsysto.com/impressum" target="_blank">https://comsysto.com/impressum</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="cs-headline cs-headline--s">Data Privacy</h3>

                <p>
                    This page does not use any cookies. This page does not use any kind of Trackers and does not log or store
                    your IP-address or any other personal data. This page consists of static HTML Pages served via TLS (https).
                    This page is hosted on GitHub-Pages in the US and does not use any external 3rd party widgets from other domains except google fonts.
                </p>

                <p><strong>Using the "interactive Mode"</strong></p>

                <p>When browsing this page in a normal way this does not apply. The "interactive Mode" is a opt-in functionality where
                    you decide that you want to store information about your learning progess inside you browsers localStorage. When revisiting this page
                    this information is used to show you where you have left of.</p>

                <p>No personal information is stored and the site does not know about you. Just your browser will render dynamic templates based on the contents
                    of your localStorage. There are no server side operations.</p>

            </div>
            <div class="col-md-6">
                <h3 class="cs-headline cs-headline--s">Datenschutz</h3>

                <p>
                    Diese Seite benutzt keine Cookies. Diese Seite setzt keine Tracker ein. Diese Seite speichert nicht ihre IP-Adresse
                    oder irgendwelche anderen personenbezogenen Daten. Diese Seite besteht aus statischen HTML Seiten welche via TLS (https) ausgeliefert werden.
                    Diese Seite ist bei GitHub-Pages in den USA gehostet. Diese Seite benutzt keine externen Drittanbieter-widgets von anderen Domains ausgenommen google fonts.
                </p>

                <p><strong>Benutzung des "interactive Mode"</strong></p>

                <p>Das im folgenden beschriebene trifft nicht zu beim normalen browsen der Seite.
                    Der "interactive Mode" ist eine opt-in Funktionalität bei der Sie entscheiden, dass Sie informationen über Ihren Lernfortschritt im
                    localStorage ihres Browsers abspeichern wollen.
                    Bei einem erneuten Besuch der Webseite wird diese Information benutzt, um Ihnen anzuzeigen
                    was Sie zuletzt erlernt haben und wo es weitergeht.</p>

                <p>Es werden keine personenbezogenen Daten gespeichert.
                    Nur Ihr Browser wird dynamische templates basierend auf den Inhalten des localStorage darstellen.
                    Es gibt keine serverseitigen Operationen.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
