{% set CURRENT_PAGE_ID = 97 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
   <title>Impressum und Datenschutz | Kitchen Duty Plugin for Atlassian JIRA® by Comsysto Reply</title>
   <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by Comsysto Reply">
   <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Impressum und Datenschutz', 'm') }}
        
        Datenschutzerklärung / Data Privacy Statement:<br>
        <a href="https://legal.comsysto.com/comsysto.github.io/de/datenschutz/">https://legal.comsysto.com/comsysto.github.io/de/datenschutz/</a>
        
        <br><br><br>
        
        Impressum / Imprint:<br>
        <a href="https://legal.comsysto.com/comsysto.github.io/de/impressum/">https://legal.comsysto.com/comsysto.github.io/de/impressum/</a>
        

        </div>
    </div>
</div>

{% endblock %}
