@import '../../node_modules/bootstrap/scss/bootstrap-flex.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../node_modules/highlight.js/styles/railscasts';
@import '../../node_modules/lightbox2/dist/css/lightbox';

/* CS STYLES */

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

html, body {
    height:100%;
}
body {
    margin:0;
}

body.cs-tutorial {
    padding-top:110px;
}



.cs-headline {
    margin-top:30px;
    font-family: 'Open Sans', sans-serif;
}

.cs-headline--m {
    font-size:30px;
    border-bottom: 1px solid #1E9FCC;
    margin-bottom:20px;
    margin-top:40px;
}

.cs-headline--s {
    font-size:20px;
    margin-bottom:30px;
    border-bottom:1px solid #1E9FCC;
    display:inline-block;
}

.cs-content {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    padding:0;
}


.cs-hidden {
    display:none;
}

.cs-divider {
    margin-top:40px;
    border-color: #1E9FCC;
}

.cs-meme-container {
    padding:30px;
}

.cs-notice-in-progress {
    background-color: #ffa354;
    padding:20px;
    color:#fff;
    font-weight:bold;
}

.cs-license-container {
    margin-top:100px;
}


.cs-list {

}

.cs-list__item {
    margin-top:10px;
}

code {
    color:#1E9FCC;
}

a {
    color:#1E9FCC;
}

p {
    line-height:1.6em;
}

.cs-image {
    margin-bottom:15px;
}

.cs-shell {
    margin-bottom:15px;
}
.cs-shell__inner {
    display:table-cell;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    font-size: 90%;
    font-family: Menlo, Menlo, Monaco, Consolas, "Courier New", monospace;
    border-radius: 10px;
    margin-top:0;
    margin-bottom:10px;
    color:#fff;
    background-color: #333;
    width:100%;
}
.cs-shell__inner:before {
    content: '$> '
}
.cs-shell__output {
    color: #afafaf;
    background: transparent;
    border:0px;
    padding:0px;
    margin:0px;
    margin-top:10px;
}
.cs-shell__output-hljs {
    padding:0;
    margin:0;
}
.cs-shell__copy-clipboard {
    cursor: pointer;
    display:table-cell;
    vertical-align: top;
    color: #303030;
    padding-left:0.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cs-shell__copy-clipboard:active {
    padding-top:0.1rem;
    padding-left:0.6rem;
    color:#7CBB00;
}

.cs-sidenote {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color:#efefef;
    padding:20px;
}

.cs-sidenote__headline {
    font-size:20px;
    padding-bottom:20px;
}

.cs-sidenote__content {

}

.cs-sidenote__content-item {
    padding-top:10px;
    border-top:1px solid #ccc;
    padding-bottom:10px;
}



.cs-tutorial-step-review {
    position:relative;
    border-radius: 6px;
    border: 1px solid #0ecc13;
    background-color: #d4efcd;
    padding:20px;
}

.cs-tutorial-step-review:before {
    position:absolute;
    top:13px;
    left:20px;
    content: '\f091';
    font-family: FontAwesome;
    font-size: 40px;
    color: #33b33b;
}
.cs-tutorial-step-review__headline {
    margin-left:50px;
}

.cs-tutorial-step-review__link {
    margin-left:50px;
}


.cs-v-spacer {
    width:100%;
    height:30px;
    display:block;
    clear:both;
}


.cs-v-spacer--big {
    height:60px;
}

.cs-v-spacer--endofpage {
    height:700px;
}

.cs-tutorial-image {
}

.cs-do-wrap {
    word-wrap: break-word;
}

.cs-warning {
    border-color: #ffa354;
    background-color: #ffe6bd;
    color:#000;
}
.cs-warning__icon {
    color:#ffa354;
}

.cs-special {
    color:#1E9FCC;
    font-weight: 600;
    font-size:18px;
}

.cs-summary {
    background-color: rgba(29, 163, 204, 0.07);
    border-color: #1E9FCC;
}
.cs-summary__headline {
    font-size:20px;
}

.cs-summary__spacer {
    margin-top:12px;
    margin-bottom:12px;
}

/* ABOUT */

.cs-about__text {
    padding-top:20px;
    padding-left:30px;
}

/* HIGHLIGHT.JS STYLES */

.hljs {
    background: #333;
}
.cs-code {
    background: #333;
    border:0;
    border-radius: 10px;
}

.cs-tutorial-space-top-small {
    padding-top:30px;
}

/* CS SOURCE CODE */

.cs-code-filename {
    margin-left:15px;
    margin-right:15px;
    padding: 5px 10px 5px 10px;
    background-color: #525252;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color:#fff;
    font-weight:bold;
}


.cs-source-point-list {
    counter-reset: section;
}
.cs-source-point-list__item {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    cursor: pointer;
}
.cs-source-point-list__item code {
    color: #b91c8a;
    word-wrap: break-word;
}
.cs-source-point-list__item::before {
    background-color: #ef22b7;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
    color:#fff;
    display: block;
    border:2px solid #ef22b7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    content: " ";
    margin-left:-34px;
    position:absolute;
    top:20px;
}
.cs-source-point-list__item::after {
    counter-increment: section;
    content: counters(section,".") " ";
    text-align:center;
    width:40px;
    margin-left:-42px;
    display: block;
    position:absolute;
    top:22px;
    color:#fff;
}
.cs-source-point-list__item--active, .cs-source-point-list__item:hover {
    background-color: rgba(219, 29, 170, 0.09) !important;
}


.cs-source-point {
    background-color: #ef22b7;
    border-radius: 50%;
    width:22px;
    height:22px;
    text-align: center;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    border:2px solid #ef22b7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cs-source-point::after {
    content: attr(data-cs-source-point-number);
}
.cs-source-point:hover {
    transform: scale(1.3);
}
.cs-source-point--active {
    animation: pulse 1s ease infinite;
}
@keyframes pulse {
    0% {   transform: scale(1);    }
    50% {  transform: scale(1.3);  }
    100% { transform: scale(1); }
}

/* TOC */

.cs-sidebar-wrapper {

}

#toc {
    height: 100%;
    position: fixed;
    background: transparent;
    padding-top: 30px;
    padding-right:30px;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
    border-bottom:1px solid #efefef;
}

#toc a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toc-h2 {
    padding-left: 10px;
}

.toc-h2-divider {
    padding-left: 10px;
    font-weight:bold;
    color: #5b5b5b;
    margin-top:30px;
}

.toc-h3 {
    padding-left: 20px;
}

.toc-active {
    background: #1E9FCC;
}

.toc-active a {
    color: #fff !important;
}
.toc--appendix {
    font-size:12px;
}
/* crypt */
.cfsb {
    display: none;
}


/* PAGER */
.cs-pager {
    margin-top:20px;
}
.cs-pager a {
    color:#fff;
}
.cs-pager a:hover {
    color:#fff;
    text-decoration: none;
}


/* LANDINGPAGE */

.cs-landing-header {
    height:100%;
    background-image: linear-gradient(135deg,rgba(0,89,131,.85),rgba(95,234,255,.85)),url(../images/kitchen-wallpaper.jpg);
    background-size: auto,cover;
    background-repeat: repeat,no-repeat;
    background-attachment: scroll,fixed;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 900px;
}

.cs-landing-header-inner {
    margin:0;
    display: flex;
    flex-wrap: wrap;
    width:95%;
}

.cs-landing-logo {
    background-image: url(../images/kitchen-duty-logo-v2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left:95px;
    color:#fff;
    display:inline-block;
}
.cs-landing-logo:hover {
    text-decoration: none;
}

.cs-landing-logo h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight:900;
    margin-bottom:0;
    margin-top:0;
}

.cs-landing-logo h2 {
    margin-top:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
}

.cs-landing-button-wrapper {
    margin-top:180px;
    margin-bottom:180px;
}



.cs-landing-button {
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px;
}

.cs-landing-button:hover {
    color:#1e9fcc;
    background-color: #fff;
    text-decoration: none;
}

.cs-landing-teaser {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#fff;
    font-size: 22px;
}

/* NORMAL PAGE */
.cs-page-header {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:500;
    height:120px;
    padding-top:15px;
    padding-bottom:30px;
    background-image: linear-gradient(135deg,rgba(0,89,131,.85),rgba(95,234,255,.85)),url(../images/kitchen-wallpaper.jpg);
    background-size: auto,cover;
    background-repeat: repeat,no-repeat;
    background-attachment: scroll,fixed;
}

.cs-page-logo {
    background-image: url(../images/kitchen-duty-logo-v2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left:80px;
    color:#fff;
    display:inline-block;
}
.cs-page-header-cs-logo {
    padding-top:20px;
}
.cs-page-header--left-fix {
    padding-left:20px;
}
.cs-page-header--right-fix {
    padding-right:30px;
}
.cs-page-logo:hover {
    text-decoration: none;
}

.cs-page-logo h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight:900;
    margin-bottom:0;
    margin-top:0;
    font-size:25px;
}

.cs-page-logo h2 {
    margin-top:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-size:21px;
}


/* FOOTER LINKS */

.cs-footer {
    color:#8c8c8c;
    margin-top:100px;
    display:inline-block;
    width:100%;
    padding-left:10px;
}
.cs-grey-toc {
    color: #8c8c8c !important;
}
.cs-grey-toc:hover {
    color:#8c8c8c !important;
}
