/* tooltip */
$tooltip-bg: #007571;
$alert-border-radius: 0;
$btn-primary-color:              #fff;
$btn-primary-bg:                 transparent;
$btn-primary-border:             #fff;
$btn-secondary-color:              #00B6AF;
$btn-secondary-bg:                 transparent;
$btn-secondary-border:             #00B6AF;
$btn-border-radius:              0;
$btn-border-radius-lg:           0;
$btn-border-radius-sm:           0;

/*
$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:
*/

$list-group-border-radius: 0;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../node_modules/highlight.js/styles/railscasts';
@import '../../node_modules/bilderrahmen/bilderrahmen';



.img-fluid--fix-svg-ie-and-ff {
    width: 100%;
}

/* CS STYLES */

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

html, body {
    margin:0;
    padding:0;
}

/** TYPO **/

.cs-headline {
    margin-top:10px;
    font-family: 'Open Sans', sans-serif;
}

.cs-headline--m {
    font-size:30px;
    border-bottom: 1px solid #007571;
    margin-bottom:20px;
    margin-top:40px;
}

.cs-headline--s {
    font-size:20px;
    margin-bottom:30px;
    border-bottom:1px solid #007571;
    display:inline-block;
}


/** SCROLLBAR **/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #008E89;
}

/** BASE LAYOUT **/

.cs-tutorial-body {
    display:flex;
    flex-direction: column;
}

.cs-content {
    display:flex;
    max-height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
}
@include media-breakpoint-down(md) {
    .cs-content {
        flex-direction: column;
        max-height: unset;
        min-height: unset;
        height: unset;
    }
    .cs-content-wrapper {
        overflow-y: unset !important;
        max-height: unset !important;
    }
    .cs-sidebar-wrapper {
        overflow-y: unset !important;
        max-height: unset !important;
    }
}


.cs-content-wrapper {
    font-family: 'Open Sans', sans-serif;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    overflow-y: scroll;
    padding: 0 30px 30px 30px;
    background-color: #fff;
    max-height: calc(100vh - 140px);
    width: 100%;
    display:flex;
    justify-content: center;
}
.cs-content-wrapper--isopen {

}
.cs-content-wrapper-inner {
    max-width:1400px;
}

.cs-stars-on-github-give-star-button {
    color: #05B0AA;
}
.cs-sidebar-wrapper {
    padding: 0;
    overflow-y: auto;
    background-color: #fff;
    min-width: 320px;
    display: none;
    max-height: calc(100vh - 140px);
    border-right:1px solid #efefef;
}
.cs-sidebar-wrapper--isopen {
    display: block;
}
.btn-borderless {
    border:0px;
}
.cs-burger-button {
    user-select: none;
    display:flex;
    border:0px;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}

.cs-sidebar-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cs-sidebar-wrapper li {
    padding: 0;
    border-bottom:1px solid #efefef;
}

.cs-sidebar-wrapper a {
    color: #005D59;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    width:100%;
    height:100%;
    padding:10px;
}

.toc-h2 {
    padding-left: 10px;
    font-size:16px;
    display:flex;
}
.toc-h2 a {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.toc-h2-divider {
    text-align:left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:200;
    color: #05B0AA;
    font-size:14px;
    margin-top:40px;
    padding:0 0 0 10px !important;
}

.toc-h3 {
    padding-left: 20px;
}

.toc-active {
    background-color: #05B0AA;
    color:#fff;
}

.toc-active a {
    color: #fff !important;
}
.toc--appendix {
    font-size:12px;
}

.cs-step-badge {
    background-color: #efefef;
    border-radius: 50%;
    display: block;
    margin-left:5px;
    padding:4px;
    width:18px;
    height:18px;
    overflow: hidden;
    font-size: 11px;
    text-align:center;
    line-height:10px;
    color:#007571;
}
.toc-active .cs-step-badge {
    color:#fff;
    background-color: #007571;
}

.cs-footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:60px;
    max-height: 60px;
    background-color: #303C3B;
    padding: 8px;
}


.cs-toc-infographic-wrapper {
    height:250px;
    width:350px;
    background-color: #fff;
    padding:20px 10px 10px 20px;
    z-index:2;
    -webkit-transition: width 1s, height 1s; /* Safari */
    transition: width 1s, height 1s;
}

/*.cs-toc-infographic-wrapper:hover {
    width:700px;
    height:500px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}*/

.cs-grey-footer-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:200;
    color: #efefef !important;
}
.cs-grey-footer-link:hover {
    color:#efefef !important;
}

.cs-page-info-banner {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color: #FFB800;
    z-index:500;
    overflow:hidden;
}
.cs-page-info-banner-inner {
    padding:6px;
    color:#555;
}
.cs-page-info-banner-inner a {
    color:#555;
    text-decoration: underline;
}

/* NORMAL PAGE */
.cs-page-header {
    width:100%;
    z-index:500;
    height:80px;
    max-height: 80px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #007571;
    overflow-y: hidden;
}
.cs-page-header .row {
    margin:0;
}

.cs-page-header-left {
    display:flex;
}

.cs-page-logo-img {
    background-image: url(../images/kitchen-duty-logo-single.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    width:60px;
    height:60px;
    margin-right:5px;
}
.cs-page-logo {
    color:#fff;
    display:block;
    min-width: 380px;
}
@include media-breakpoint-down(md) {
    .cs-page-logo {
        min-width: 320px;
    }
}
.cs-page-header-cs-logo {
    padding-top:15px;
}
.cs-page-logo:hover {
    text-decoration: none;
    color:#fff;
}

.cs-page-logo h1, .cs-page-logo-small h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight:900;
    margin-bottom:0;
    margin-top:0;
    font-size:25px;
    color:#fff;
}
.cs-page-logo h2 {
    margin-top:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-size:21px;
    text-align: left;
}





/** HELPER FOO **/

.cs-hidden {
    display:none;
}

.cs-divider {
    margin-top:40px;
    border-color: #007571;
}

.cs-meme-container {
    padding:30px;
}

.cs-notice-in-progress {
    background-color: #ffa354;
    padding:20px;
    color:#fff;
    font-weight:bold;
}

.cs-license-container {
    margin-top:100px;
}


.cs-list {

}

.cs-list__item {
    margin-top:10px;
}

code {
    color:#007571;
}

a {
    color:#007571;
}

p {
    line-height:1.6em;
}

.cs-image {
    margin-bottom:15px;
}

.cs-shell {
    margin-bottom:15px;
}
.cs-shell__inner {
    display:block;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    font-size: 90%;
    font-family: Menlo, Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-top:0;
    margin-bottom:10px;
    color:#fff;
    background-color: #333;
    width:100%;
}
.cs-shell__inner:before {
    content: '$> '
}
.cs-shell__output {
    color: #afafaf;
    background: transparent;
    border:0;
    padding:0;
    margin:0;
    margin-top:10px;
}
.cs-shell__output-hljs {
    padding:0;
    margin:0;
}
.cs-shell__copy-clipboard {
    cursor: pointer;
    display:inline-block;
    float:right;
    color: #ffffff;
    padding:3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cs-shell__copy-clipboard:hover {
    color:#ffffff;
    border-bottom:3px solid #ef22b7;
}

.cs-sidenote {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color:#efefef;
    padding:20px;
}

.cs-sidenote__headline {
    font-size:20px;
    padding-bottom:20px;
}

.cs-sidenote__content {

}

.cs-sidenote__content-item {
    padding-top:10px;
    border-top:1px solid #ccc;
    padding-bottom:10px;
}



.cs-tutorial-step-review {
    position:relative;
    border-radius: 0;
    border: 1px solid #0ecc13;
    background-color: #d4efcd;
    padding:20px;
}

.cs-tutorial-step-review:before {
    position:absolute;
    top:13px;
    left:20px;
    content: '\f091';
    font-family: FontAwesome;
    font-size: 40px;
    color: #33b33b;
}
.cs-tutorial-step-review__headline {
    margin-left:50px;
}

.cs-tutorial-step-review__link {
    margin-left:50px;
}


.cs-v-spacer {
    width:100%;
    height:30px;
    display:block;
    clear:both;
}


.cs-v-spacer--big {
    height:60px;
}

.cs-v-spacer--endofpage {
    height:700px;
}

.cs-tutorial-image {
}

.cs-do-wrap {
    word-wrap: break-word;
}

.cs-warning {
    border-color: #ffa354;
    background-color: #ffe6bd;
    color:#000;
}
.cs-warning__icon {
    color:#ffa354;
}

.cs-special {
    color:#007571;
    font-weight: 600;
    font-size:18px;
}

.cs-summary {
    background-color: rgba(29, 163, 204, 0.07);
    border-color: #007571;
}
.cs-summary__headline {
    font-size:20px;
}

.cs-summary__spacer {
    margin-top:12px;
    margin-bottom:12px;
}

/* ABOUT */

.cs-about__text {
    padding-top:0px;
    padding-left:30px;
}

/* HIGHLIGHT.JS STYLES */

.hljs {
    background: #333;
}
.cs-code {
    background: #333;
    border:0;
    padding:10px;
}

.cs-tutorial-space-top-small {
    padding-top:30px;
}

/* CS SOURCE CODE */

.cs-code-filename {
    margin-left:0;
    margin-right:0;
    padding: 10px 10px 5px 10px;
    background-color: #525252;
    color:#fff;
    font-weight:300;
    font-size: 13px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
}

.cs-code-copylink, .cs-code-ghlink {
    color: #ffffff;
    display: inline-block;
    float:right;
    margin-left:15px;
    cursor: pointer;
    padding-left:3px;
    border-bottom:3px solid #525252;
}
.cs-code-copylink:hover, .cs-code-ghlink:hover {
    color: #ffffff;
    border-bottom:3px solid #ef22b7;
}




.cs-source-point-list {
    counter-reset: section;
}
.cs-source-point-list__item {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    cursor: pointer;
}
.cs-source-point-list__item code {
    color: #b91c8a;
    word-wrap: break-word;
}
.cs-source-point-list__item::before {
    background-color: #ef22b7;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
    color:#fff;
    display: block;
    border:2px solid #ef22b7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    content: " ";
    margin-left:-34px;
    position:absolute;
    top:20px;
}
.cs-source-point-list__item::after {
    counter-increment: section;
    content: counters(section,".") " ";
    text-align:center;
    line-height: 20px;
    font-size:15px;
    width:40px;
    margin-left:-42px;
    display: block;
    position:absolute;
    top:22px;
    color:#fff;
}
.cs-source-point-list__item--active, .cs-source-point-list__item:hover {
    background-color: rgba(219, 29, 170, 0.09) !important;
}


.cs-source-point {
    background-color: #ef22b7;
    border-radius: 50%;
    width:22px;
    height:22px;
    text-align: center;
    line-height: 17px;
    font-size:14px;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    border:2px solid #ef22b7;
    box-shadow: 0 0 0 rgba(239,38,183, 0.6);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cs-source-point::after {
    content: attr(data-cs-source-point-number);
}
.cs-source-point:hover {
    animation: pulse 1s infinite;
}
.cs-source-point--active {
    animation: pulse 1s infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(239,38,183, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(239,38,183, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(239,38,183, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(239,38,183, 0.6);
        box-shadow: 0 0 0 0 rgba(239,38,183, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(239,38,183, 0.2);
        box-shadow: 0 0 0 10px rgba(239,38,183, 0.2);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(239,38,183, 0);
        box-shadow: 0 0 0 0 rgba(239,38,183, 0);
    }
}

/* TOC */



/* crypt */
.cfsb {
    display: none;
}



/* LANDINGPAGE */

.cs-landing-header {
    height:100vh;
    background-image: linear-gradient(135deg,rgba(0,117,113,.85),rgba(5,176,170,.85)),url(../images/kitchen-wallpaper.jpg);
    background-size: auto,cover;
    background-repeat: repeat,no-repeat;
    background-attachment: scroll,fixed;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 900px;
}

.cs-landing-header-inner {
    margin:0;
    display: flex;
    flex-wrap: wrap;
    width:95%;
}

.cs-landing-logo-img {
    background-image: url(../images/kitchen-duty-logo-single.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    width:80px;
    height:80px;
    margin-right:20px;
    margin-left:-40px;
    float:left;
}
.cs-landing-logo {
    color:#fff;
    display:inline-block;
}
.cs-landing-logo:hover {
    text-decoration: none;
    color:#fff;
}

.cs-landing-logo h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight:900;
    margin-bottom:0;
    margin-top:0;
    white-space: nowrap;
}

.cs-landing-logo h2 {
    margin-top:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    white-space: nowrap;
    text-align: left;
}
@include media-breakpoint-down(sm) {
    .cs-landing-logo h1 {
        font-size: 25px;
    }
    .cs-landing-logo h2 {
        font-size: 18px;
    }
}

.cs-landing-button-wrapper {
    margin-top:180px;
    margin-bottom:180px;
}



.cs-landing-button {
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px;
}

.cs-landing-button:hover {
    color:#007571;
    background-color: #fff;
    text-decoration: none;
}

.cs-landing-teaser {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#fff;
    font-size: 22px;
}




/** SCOPED SVG STYLING **/

#kitchen-duty-planning-page--component-overview  {

}



/** stuff **/
.cs-working-on-it {
    background-color: #FFBC75;
    border:1px solid #FF911D;
    padding:30px;
    margin-bottom:50px;
}



.cs-blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 15px solid #ff911d;
    border-right: 2px solid #ff911d;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

.cs-blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
}

.cs-blockquote::after{
    /*Reset to make sure*/
    content: "";
}

.cs-blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

.cs-blockquote a:hover{
    color: #666;
}

.cs-blockquote em{
    font-style: italic;
}

/* stars */
.cs-stars-on-github-right {
    border-left:1px solid #fff;
    padding-left:10px;
    margin-left:10px;
    display:inline-block;
}
.cs-news-right {
    display: inline-block;
}

/* uml */
.cs-table-uml {
    display:inline-block;
    border:0px;
    width: unset;
    font-family: Menlo,Menlo,Monaco,Consolas,"Courier New",monospace;
}
.cs-table-uml td, .cs-table-uml th, .cs-table-uml thead th {
    border-color:#000;
    border-width: 2px;
}
.cs-table-uml--connector {
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom:1px solid #007571 !important;
    color:#007571;
}
.cs-table-uml--blank {
    border-width:0px !important;
}


.cs-pager {
    padding-top:3px;
    min-width:100px;
}


.cs-legal-box {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.cs-legal-box a {
    color: #839392;
    font-size:12px;
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #839392;
}
.cs-legal-box a:last-child {
    border:0;
}


#copy-to-clipboard-dummy {
    width:1px;
    height: 1px;
    position: absolute;
    top: -20px;
    left:-20px;
}
