<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    {% block head %}
    {% endblock %}

    {# google + #}
    <meta property="og:title" content="Kitchen Duty Plugin for Atlassian JIRA® by comSysto" />
    <meta property="og:image" content="https://comsysto.github.io/kitchen-duty-plugin-for-atlassian-jira/images/kitchen-duty-plugin--social.jpg" />
    <meta property="og:description" content="An interactive tutorial on how to write Plugins for Atlassian JIRA® by comSysto" />

    {# seo voodoo #}
    <link rel="canonical" href="https://comsysto.github.io/kitchen-duty-plugin-for-atlassian-jira{{ activePageUrl }}" />



    <link href="/kitchen-duty-plugin-for-atlassian-jira/generated/bundle.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Menlo|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700|Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon.svg" type="image/svg+xml">

    <script>var postLoadMethods = [];</script>
</head>
<body class="{{ bodyClass }}">
{# MACROS START #}





{% macro csShell(shellCmd, shellCmdOutput='') %}
<div class="cs-shell">
    <div class="cs-shell__inner">
        {{shellCmd}}<br>
        <pre class="cs-shell__output"><code class="hljs cs-shell__output-hljs">{{shellCmdOutput | formatSourceCode('bash') | safe }}</code></pre>

    </div>
    <a class="cs-shell__copy-clipboard" data-clipboard-text="{{shellCmd}}"><i class="fa fa-files-o"></i></a>
</div>
{% endmacro %}

{% macro csSource(lang='', source='', uniqueId='', filename='') %}
    {% if filename %}
        <div class="cs-code-filename">{{ filename }}</div>
    {% endif %}
<pre class="cs-code"><code class="hljs">{{source | formatSourceCode(lang, uniqueId) | safe }}</code></pre>
{% endmacro %}

{% macro linkToAnchor(text) %}
    {% set anchorName = csStringHelper().convertToAnchor(text) %}
    <a data-scroll-to="{{ anchorName }}">{{ text }}</a>
{% endmacro %}


{% macro headline(text, size, textOfPreviousSection) %}
    {# size: s, m, l #}
    {% set anchorName = csStringHelper().convertToAnchor(text) %}
    {% set anchorNameOfPreviousSection = csStringHelper().convertToAnchor(textOfPreviousSection) %}

    <h2 class="cs-headline cs-headline--{{ size }} cs-headline--anchor"
        data-scroll-to-headline="{{ anchorName }}"
        data-scroll-to-headline-previous="{{ anchorNameOfPreviousSection }}">
        {# <a class="cs-anchor" data-scroll-to-headline-link="{{ anchorName }}"></a> #}
        {{ text }}
    </h2>
{% endmacro %}


{# MACROS END #}

{% block contentLayout %}
content
{% endblock %}


<script src="/kitchen-duty-plugin-for-atlassian-jira/generated/bundle.js" async></script>
{% block postJs %}
{% endblock %}
{% if isLocalhost %}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=2"></' + 'script>')</script>
{% endif %}
</body>
</html>
