<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    {% block head %}
    {% endblock %}


    <link href="/kitchen-duty-plugin-for-atlassian-jira/generated/bundle.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Menlo|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon.svg" type="image/svg+xml">

    <script>var postLoadMethods = [];</script>
</head>
<body>
{# MACROS START #}

{% macro pageHeader(currentPageId) %}
    {% set pages = [
        ('0', '/'),
        ('1', '/tutorial/01-introduction/'),
        ('2', '/tutorial/02-step-00-getting-started/'),
        ('3', '/tutorial/03-story-workshop-for-planning-page/'),
        ('4', '/tutorial/04-step-01-planning-page--webwork-action-and-html-view/'),
        ('5', '/tutorial/05-step-02-planning-page--user-search-rest-resource/'),
        ('6', '/tutorial/06-step-03-planning-page--user-search-js-controller/')
    ] %}


    <div class="container-fluid cs-header">
        <div class="row">
            <div class="col-md-6 cs-product-logo">
                <img src="/kitchen-duty-plugin-for-atlassian-jira/images/kitchen-duty-logo.svg">
                <h1 class="cs-hidden">Kitchen Duty Plugin for Atlassian JIRA® by comSysto</h1>


            </div>
            <div class="col-md-6  cs-header__corporate-logo hidden-xs hidden-sm">
                <a href="https://github.com/comsysto"><img src="/kitchen-duty-plugin-for-atlassian-jira/images/comsysto-logo.png" alt="comSysto"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 cs-pager">
                <a href="/kitchen-duty-plugin-for-atlassian-jira{{ pages[currentPageId-1] }}"><i class="fa fa-angle-double-left"></i> previous page</a>
            </div>
            <div class="col-md-6 text-right cs-pager">
                {% if currentPageId < 6 %}
                    <a href="/kitchen-duty-plugin-for-atlassian-jira{{ pages[currentPageId+1] }}">next page <i class="fa fa-angle-double-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}



{% macro csShell(shellCmd, shellCmdOutput='') %}
<div class="cs-shell">
    <div class="cs-shell__inner">
        {{shellCmd}}<br>
        <pre class="cs-shell__output"><code class="hljs cs-shell__output-hljs">{{shellCmdOutput | formatSourceCode('bash') | safe }}</code></pre>

    </div>
    <a class="cs-shell__copy-clipboard" data-clipboard-text="{{shellCmd}}"><i class="fa fa-files-o"></i></a>
</div>
{% endmacro %}

{% macro csSource(lang='', source='', uniqueId='', filename='') %}
    {% if filename %}
        <div class="cs-code-filename">{{ filename }}</div>
    {% endif %}
<pre class="cs-code"><code class="hljs">{{source | formatSourceCode(lang, uniqueId) | safe }}</code></pre>
{% endmacro %}

{% macro linkToAnchor(text) %}
    {% set anchorName = csStringHelper().convertToAnchor(text) %}
    <a data-scroll-to="{{ anchorName }}">{{ text }}</a>
{% endmacro %}


{% macro headline(text, size, textOfPreviousSection) %}
    {# size: s, m, l #}
    {% set anchorName = csStringHelper().convertToAnchor(text) %}
    {% set anchorNameOfPreviousSection = csStringHelper().convertToAnchor(textOfPreviousSection) %}

    <h2 class="cs-headline cs-headline--{{ size }} cs-headline--anchor"
        data-scroll-to-headline="{{ anchorName }}"
        data-scroll-to-headline-previous="{{ anchorNameOfPreviousSection }}">
        {# <a class="cs-anchor" data-scroll-to-headline-link="{{ anchorName }}"></a> #}
        {{ text }}
    </h2>
{% endmacro %}


{# MACROS END #}

{% block contentLayout %}
content
{% endblock %}




<script src="/kitchen-duty-plugin-for-atlassian-jira/generated/bundle.js" async></script>
{% block postJs %}
{% endblock %}
{% if isLocalhost %}
{# FIXME: <script src="http://localhost:35676"></script>#}
{% endif %}
</body>
</html>
