<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    {% block head %}
    {% endblock %}

    {# google + #}
    <meta property="og:title" content="Kitchen Duty Plugin for Atlassian Jira by codeclou UG" />
    <meta property="og:image" content="https://codeclou.github.io/kitchen-duty-plugin-for-atlassian-jira/images/kitchen-duty-plugin--social.jpg" />
    <meta property="og:description" content="An interactive tutorial on how to write Plugins for Atlassian Jira by codeclou UG" />

    {# seo voodoo #}
    <link rel="canonical" href="https://codeclou.github.io/kitchen-duty-plugin-for-atlassian-jira{{ activePageUrl }}" />

    <link rel="alternate" type="application/rss+xml" title="Kitchen Duty Plugin News" href="https://codeclou.github.io/kitchen-duty-plugin-for-atlassian-jira/rss_feed.xml" />



    <link href="/kitchen-duty-plugin-for-atlassian-jira/generated/bundlev2.css?v2018-09-02--12-50" rel="stylesheet">

    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon-256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="/kitchen-duty-plugin-for-atlassian-jira/images/favicon.svg" type="image/svg+xml">

    <script>var postLoadMethods = [];</script>
</head>
<body class="{{ bodyClass }}">
{# MACROS START #}





{% macro csShell(shellCmd, shellCmdOutput='') %}
<div class="cs-shell">
    <div class="cs-shell__inner">
        <a class="cs-shell__copy-clipboard cs--trigger-copy-clipboard" data-clipboard-text="{{shellCmd}}"
           data-toggle="tooltip" data-placement="left"
           data-title-orig="Copy file content to clipboard"
           title="Copy file content to clipboard"><i class="fa fa-files-o"></i></a>

        {{shellCmd}}<br>
        <pre class="cs-shell__output"><code class="hljs cs-shell__output-hljs">{{shellCmdOutput | formatSourceCode('bash') | safe }}</code></pre>

    </div>
</div>
{% endmacro %}

{% macro csSource(lang='', source='', uniqueId='', filename='', filepath='', ghBaseUrl='') %}
{% if filename %}
<div class="cs-code-filename">
    <div class="cs-code-filename-inner">
        {% if filepath %}
        <span class="d-none d-lg-inline d-xl-inline">{{ filepath }}</span><span class="d-none d-sm-inline d-lg-none d-xl-none"
                                                                data-toggle="tooltip"
                                                                data-placement="right"
                                                                title="{{ filepath }}">.../</span>{{ filename }}
        {% else %}
        {{ filename }}
        {% endif %}
    </div>
    <div class="cs-code-buttons">
        {% if ghBaseUrl %}
        <a href="{{ ghBaseUrl }}{{ filepath }}{{ filename }}" target="_blank"
        data-toggle="tooltip" data-placement="left" title="Open file on GitHub"
        class="cs-code-ghlink"><i class="fa fa-github"></i></a>
        {% endif %}
        <a class="cs-code-copylink cs--trigger-copy-clipboard"
        data-toggle="tooltip" data-placement="left"
        data-title-orig="Copy file content to clipboard"
        title="Copy file content to clipboard"
        data-clipboard-text="{{source | formatSourceCodeForCopyClipboardDataAttribute() }}"><i class="fa fa-files-o"></i></a>
    </div>
</div>
{% endif %}
<pre class="cs-code"><code class="hljs">{{source | formatSourceCode(lang, uniqueId) | safe }}</code></pre>
{% endmacro %}

{% macro linkToAnchor(text) %}
{% set anchorName = csStringHelper().convertToAnchor(text) %}
<a data-scroll-to="{{ anchorName }}">{{ text }}</a>
{% endmacro %}


{% macro headline(text, size, textOfPreviousSection) %}
{# size: s, m, l #}
{% set anchorName = csStringHelper().convertToAnchor(text) %}
{% set anchorNameOfPreviousSection = csStringHelper().convertToAnchor(textOfPreviousSection) %}

<h2 class="cs-headline cs-headline--{{ size }} cs-headline--anchor"
    data-scroll-to-headline="{{ anchorName }}"
    data-scroll-to-headline-previous="{{ anchorNameOfPreviousSection }}">
    {# <a class="cs-anchor" data-scroll-to-headline-link="{{ anchorName }}"></a> #}
    {{ text }}
</h2>
{% endmacro %}


{# MACROS END #}

{% block contentLayout %}
content
{% endblock %}


<script src="/kitchen-duty-plugin-for-atlassian-jira/generated/bundle.js?v2018-09-02--12-50" async></script>
{% block postJs %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: [ 'Menlo',
                'Open+Sans:400,300,600,700,800',
                'Roboto:400,900,700',
                'Source+Sans+Pro:400,300,600',
                'Patrick+Hand'
            ]
        }
    });
</script>
</body>
</html>
