{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Introduction | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



{{ pageHeader(1) }}


<div class="container-fluid cs-content">
    <div class="row">
        <div class="col-md-12">
            {{ headline('Introduction', 'm') }}

        </div>
    </div>
</div>


{% endblock %}
