{% set CURRENT_PAGE_ID = 1 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Introduction | Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by codeclou UG</title>
    <meta description="Short Introduction of Kitchen Duty Plugin - the interactive step-by-step tutorial on how to write Plugins for Atlassian Jira by codeclou UG">
    <meta name="robots" content="index, follow">
{% endblock %}
{% block content %}



<div class="row">
  <div class="col-md-12">

      {{ headline('Introduction', 'm') }}

        {# ############################################################# #}
        {# INTRODUCTION #}
        {# ############################################################# #}

        <p>
            This tutorial will show you <strong>how to write a simple Plugin for <a href="https://www.atlassian.com/software/jira">Atlassian JIRA® Server</a></strong>.
            The tutorial will focus on JIRA® 7.0 and will guide you step by step.
            Note that we are developing a <strong>JIRA Plugin for Hosted JIRA instances only</strong>.
            If you are interessted in developing Plugins for JIRA Cloud you might want to check out <a href="https://developer.atlassian.com/cloud/jira/platform/integrating-with-jira-cloud/">Atlassian JIRA® Cloud</a>.

        </p>

        <p><strong>Intended Audience</strong> - This tutorial implies that you already have knowledge about <a href="https://en.wikipedia.org/wiki/Java_Platform,_Enterprise_Edition">JavaEE software development</a> with <a href="https://maven.apache.org/">Apache Maven</a> at best with <a href="https://www.jetbrains.com/idea/">JetBrains IntelliJ IDEA</a>.
            You will need no prior knowledge about JIRA development. But you should at least know what JIRA is and that it has a Plugin system to install external plugins.
        </p>
<!--
        <div class="alert alert-warning cs-warning" role="alert">
            <i class="fa fa-exclamation-triangle fa-lg cs-warning__icon"></i>
            <strong>This document is work in progress.</strong> It will steadily grow as time passes by. So it is up to you waiting for it to be completely finished, or if you want early-access.
            You can give us <a href="https://github.com/codeclou/kitchen-duty-plugin-for-atlassian-jira/issues">feedback via the Issue Tracker</a>.
        </div>
-->

    </div>
</div>
<div class="row">
    <div class="col-md-9">

        <h3 class="cs-headline cs-headline--s">Which Problem should the plugin solve?</h3>

        <p>You probably use Atlassian JIRA already to master your agile projects with Scrum and Kanban.</p>

        <p>But one thing is running out of hand in every office. <strong>The kitchen duty</strong> often lacks control and planning.</p>

        <p><strong>Why is the dish-washer full of dirty dishes but not turned on? Why are there no clean dishes?</strong></p>

        <p>These are the things we want to solve with our JIRA Plugin.</p>



        <h3 class="cs-headline cs-headline--s">Desired Features as User Stories</h3>

        <p>Since we know the problem now combinded with beeing master developers we came up pretty fast with some kick-ass mockups.
            That led us to the following user stories with acceptance criteria.</p>

        <div class="row">
            <div class="col-md-6">
                <p><span class="cs-special">Kitchen Duty Planning Page</span></p>
                {{ image('drawings/00-mock-kitchen-duty-planning-page_big.jpg', 'Kitchen Duty Planning Page Mockup', '100%') }}

                <p><strong>User Story</strong></p>
                <p>As office-boss I want to assign people for kitchen duty on a weekly basis to improve the kitchens tidiness.</p>
                <p><strong>Acceptance Criteria</strong></p>
                <ul class="cs-list">
                    <li class="cs-list__item">Setting one or more JIRA users for selected week's kitchen duty.</li>
                    <li class="cs-list__item">The page is only accessible for JIRA administrators.</li>
                </ul>


            </div>
            <div class="col-md-6">
                <p><span class="cs-special">Kitchen Duty Overview Page</span></p>
                {{ image('drawings/00-mock-kitchen-duty-overview-page_big.jpg', 'Kitchen Duty Overview Page Mockup', '100%') }}

                <p><strong>User Story</strong></p>
                <p>As office-knave I want to see who is scheduled for this weeks kitchen duty to improve obedience.</p>
                <p><strong>Acceptance Criteria</strong></p>
                <ul class="cs-list">
                    <li class="cs-list__item">Display of JIRA users who have kitchen duty this week.</li>
                    <li class="cs-list__item">Show whole month in a calendar which is clickable to see future months.</li>
                    <li class="cs-list__item">The page should be accessible for all authenticated users.</li>
                    <li class="cs-list__item">The page should have a navigation entry in the top navigation.</li>
                    <li class="cs-list__item">(Stretch Goal: Add Button "when do I have kitchen duty" to jump to the month and week in the calender when the logged in JIRA user is scheduled for kitchen duty).</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-3 cs-meme-container d-none d-sm-block">
        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/drawings/sponge.jpg" class="img-fluid">
    </div>
</div>



<div class="cs-v-spacer cs-v-spacer--big"></div>
<div class="cs-v-spacer cs-v-spacer--big"></div>




{% endblock %}
