{% set CURRENT_PAGE_ID = 97 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
   <title>News | Kitchen Duty Plugin for Atlassian Jira by codeclou UG</title>
   <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian Jira by codeclou UG">
   <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('News', 'm') }}

        <a href="/kitchen-duty-plugin-for-atlassian-jira/news_rss.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS Feed</a>
        <br /><br />

        <!-- SEE: news_rss.xml -->
        <ul>
        {% for news in newsItemsArray %}
            <li>
                <a href="{{ news.link }}"><strong>{{ news.title }}</strong></a> - <em>{{ news.pubDate }}</em>
                <br/>{{ news.description }}<br/><br/>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
