{% set CURRENT_PAGE_ID = 4 %}
{% set gitHubBaseUrlForStep1 = 'https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/blob/master/step-01-kitchen-duty-plugin/' %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Webwork Action and HTML View ~ Planning Page | Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by Comsysto Reply</title>
    <meta description="Developing the Webwork Action and HTML View for the Planning Page of Kitchen Duty Plugin for Atlassian JIRA® by Comsysto Reply">
    <meta name="robots" content="index, follow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('Webwork Action and HTML View', 'm') }}





        {# ############################################################# #}
        {# STEP 1 Webwork Action #}
        {# ############################################################# #}


        <p>You might say <em>&ldquo;WebworkAction? That came out of nowhere!&rdquo;</em> and you are right. I will introduce you to it, since this is one way to provide Pages inside JIRA in a nice way.</p>

        <p>You can read about <a href="https://developer.atlassian.com/jiradev/jira-platform/jira-architecture/jira-technical-overview/jira-webwork-actions">JIRA Webwork Action</a> or <a href="https://developer.atlassian.com/jiradev/jira-platform/building-jira-add-ons/jira-plugins2-overview/jira-plugin-module-types/webwork-plugin-module">Webwork plugin module</a>
            but you will also understand what is going on after my short introduction.</p>

        <p><strong>Introduction</strong></p>

        <ul>
            <li>
                <p>
                    Basically <strong>Webwork Actions are Controllers</strong> (<a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC paradigm</a>) that react to certain URLs in JIRA.
                </p>
            </li>
            <li>
                <p>
                    They <strong>handle Authentication</strong> (is user logged in?) <strong>and Authorisation</strong> (has user rights to view page?) easily.
                </p>
            </li>
            <li>
                <p>
                    They let us <strong>define multiple Views</strong> (<a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC paradigm</a>) for example an Error-View and a Success-View.
                </p>
            </li>
            <li>
                <p>
                    They <strong>provide Template Renderer</strong> like Velocity which helps us to inject some variables into the View.
                </p>
            </li>
            <li>
                They are easily <strong>defined with some XML code</strong> in the <code>atlassian-plugin.xml</code> file <em>(we will learn later more about that)</em>.
            </li>
        </ul>

        <div class="cs-v-spacer cs-v-spacer--small"></div>


        <p>Ok now you know enough to get started. Open a terminal and change inside the directory of the plugin.</p>

        <p>We will again use the Atlassian SDK to generate the basic files for us. Type the command and choose <strong>31. Webwork Plugin</strong></p>

        {{ csShell(shellCmd='atlas-create-jira-plugin-module', shellCmdOutput='
                    |Choose Plugin Module:
                    |1:  Component Import
                    |2:  Component
                    |3:  Component Tab Panel
                    |...
                    |31: Webwork Plugin
                    |...
                    |34: Workflow Validator
                    |Choose a number (1/2/3.../33/34): 31
                    |Enter Plugin Module Name My Webwork Module: : Kitchen Duty Planning Webwork Module
                    |Show Advanced Setup? (Y/y/N/n) N: : Y
                    |Module Key kitchen-duty-planning-webwork-module: :
                    |Module Description The Kitchen Duty Planning Webwork Module Plugin: :
                    |i18n Name Key kitchen-duty-planning-webwork-module.name: :
                    |i18n Description Key kitchen-duty-planning-webwork-module.description: :
                    |Enter Action Classname MyActionClass: : KitchenDutyPlanningWebworkAction
                    |Enter Package Name com.comsysto.jira.webwork: : com.comsysto.kitchen.duty.webwork
                    |Enter Alias KitchenDutyPlanningWebworkAction: :
                    |Enter View Name success: : kitchen-duty-planning-success
                    |Enter Template Path /templates/.../kitchen-duty-planning-success.vm: : /templates/kitchen-duty-planning-webwork-module/kitchen-duty-planning-success.vm
                    |Add Another View? (Y/y/N/n) N: : N
                    |Add Another Action? (Y/y/N/n) N: : N
                    |[INFO] Adding the following items to the project:
                    |[INFO]   [class: com.comsysto.kitchen.duty.webwork.KitchenDutyPlanningWebworkAction]
                    |[INFO]   [class: ut.com.comsysto.kitchen.duty.webwork.KitchenDutyPlanningWebworkActionTest]
                    |[INFO]   [dependency: org.apache.httpcomponents:httpclient]
                    |[INFO]   [dependency: org.mockito:mockito-all]
                    |[INFO]   [dependency: org.slf4j:slf4j-api]
                    |[INFO]   [module: webwork1]
                    |[INFO]   [resource: kitchen-duty-planning-success.vm]
                    |[INFO]   i18n strings: 2
                    |Add Another Plugin Module? (Y/y/N/n) N: : N
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO] BUILD SUCCESS
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO] Total time: 10:53 min
                    |[INFO] Finished at: 2015-12-16T14:12:07+01:00
                    |[INFO] Final Memory: 29M/309M
                    |[INFO] ------------------------------------------------------------------------
                ') }}

        <p>After we have done that we see that a lot of code and files have been generated. You can see all changes in this <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/commit/162ed706c7f4be0356871a4a6f8bb6398b38854f">GitHub Commit 162ed70</a>.</p>

        <p>What is important for us are the following changes:</p>

        <ul>
            <li>
                <p><code>atlassian-plugin.xml</code> contains now the webwork definiton of our Action and View.</p>

                {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep1, source='
                            |  <webwork1 key="kitchen-duty-planning-webwork-module" name="Kitchen Duty Planning Webwork Module" i18n-name-key="kitchen-duty-planning-webwork-module.name">
                            |    <description key="kitchen-duty-planning-webwork-module.description">The Kitchen Duty Planning Webwork Module Plugin</description>
                            |    <actions>
                            |      <action name="com.comsysto.kitchen.duty.webwork.KitchenDutyPlanningWebworkAction" alias="KitchenDutyPlanningWebworkAction">
                            |        <view name="kitchen-duty-planning-success">/templates/kitchen-duty-planning-webwork-module/kitchen-duty-planning-success.vm</view>
                            |      </action>
                            |    </actions>
                            |  </webwork1>
                        ') }}
            </li>
            <li>
                <p><code>pom.xml</code> contains now needed dependencies.</p>

                {{ csSource(lang='xml', filename="pom.xml", ghBaseUrl=gitHubBaseUrlForStep1, source='
                            |<dependency>
                            |   <groupId>org.apache.httpcomponents</groupId>
                            |   <artifactId>httpclient</artifactId>
                            |   <version>4.1.1</version>
                            |   <scope>test</scope>
                            |</dependency>
                            |<dependency>
                            |   <groupId>org.slf4j</groupId>
                            |   <artifactId>slf4j-api</artifactId>
                            |   <version>1.6.6</version>
                            |   <scope>provided</scope>
                            |</dependency>
                            |<dependency>
                            |   <groupId>org.mockito</groupId>
                            |   <artifactId>mockito-all</artifactId>
                            |   <version>1.8.5</version>
                            |   <scope>test</scope>
                            |</dependency>
                        ') }}


            </li>
        </ul>


        <p>You should be able to open the <code>KitchenDutyPlanningWebworkAction</code> in IntelliJ now.</p>

        {{ image('doc/step-01-intellij-after-webwork-module-create.png', 'Step 1 - IntelliJ after Webwork Module creation', '60%') }}


        <p>Now we change the <code>execute</code> Method to work with our view:</p>

        {{ csSource(lang='java', filepath="src/main/java/com/comsysto/kitchen/duty/webwork/", filename="KitchenDutyPlanningWebworkAction.java", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |@Override
                    |public String execute() throws Exception {
                    |   return "kitchen-duty-planning-success";
                    |}
                ') }}

        <p>Now our view will be called when we browse to the Webactions URL which is simply <code>http://server/jira/secure/[WebWorkAlias].jspa</code> in our case <code class="cs-do-wrap">http://server/jira/secure/KitchenDutyPlanningWebworkAction.jspa</code>.</p>

        <p>We will now start JIRA wich will have our Plugin installed with the following command. (Go get another coffee, this will take some time to download dependencies)</p>

        {{ csShell(shellCmd='atlas-run', shellCmdOutput='
                |...
                |[INFO] [talledLocalContainer] INFORMATION: Server startup in 37754 ms
                |[INFO] [talledLocalContainer] Tomcat 8.x started on port [2990]
                |[INFO] jira started successfully in 59s at http://localhost:2990/jira
                |[INFO] Type Ctrl-D to shutdown gracefully
                |[INFO] Type Ctrl-C to exit
                ') }}

        <p>Now browse to <a class="cs-do-wrap" href="http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa">http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa</a> and you should see:</p>

        {{ image('doc/step-01-atlas-run-jira-with-kitchen-duty-planning-webwork-action.png', 'Step 1 - Success View of Kitchen Duty Planning Webwork Action', '60%') }}

        <div class="cs-v-spacer cs-v-spacer--small"></div>

        <p>
            Alright. That is working but it does not look very nice. We will improve the look and functionality step by step.
        </p>
        <p>
            <strong>What do we need to improve the UX?</strong>
        </p>
        <ol>
            <li>We want to have the usual JIRA administrator page layout</li>
            <li>We need a sidebar navigation for links to our pages</li>
            <li>Of course we need a content section</li>
            <li>i18n would be nice so that we can later easily make our plugin multi-language</li>
            <li>The planning page should only be accessible for administrators</li>
        </ol>



        <h3 class="cs-headline cs-headline--s">1. JIRA administrator page layout <em>(Page Decorator)</em></h3>

        <p>We know what we need and I will introduce you to the Atlassian Components which will do the job.</p>

        <p>Edit the <strong><code>kitchen-duty-planning-success.vm</code></strong> which resides in <code>src/main/resources/templates/kitchen-duty-planning-webwork-module/</code> like this.</p>

        {{ csSource(lang='html', filepath="src/main/resources/templates/kitchen-duty-planning-webwork-module/", filename="kitchen-duty-planning-success.vm", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |<html>
                    |<head>
                    |    <title>Planning Page - Kitchen Duty Plugin</title>
                    |    <meta name="decorator" content="atl.admin">
                    |</head>
                    |<body>
                    |<h1>Kitchen Duty Plugin - Planning Page</h1>
                    |
                    |<p>Now it looks nice :)</p>
                    |</body>
                    |</html>
                ') }}

        <p>
            The important thing is the
            <a target="_blank" href="https://developer.atlassian.com/docs/common-coding-tasks/using-standard-page-decorators"><strong>Page Decorator</strong></a>
            part which says <code>&lt;meta name="decorator" content="atl.admin"&gt;</code>.
            So what is that about? This statement tells the Page Decorator to render the layout for <code>atl.admin</code>
            which is basically the administrator layout.
        </p>

        <p>After you have saved the changes run <code>atlas-run</code> again your shell to start JIRA and <a class="cs-do-wrap" href="http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa">browse to the Planning Page</a>. It should look like this now.</p>

        {{ image('doc/step-01-planning-page-decorator-atl-admin.png', 'Step 1 - Page Decorator atl.admin', '60%') }}

        <p>If you had <code>atlas-run</code> still running and do not see your changes, try opening a second shell and type <code>atlas-cli</code> wait for the prompt, type <code>pi</code> and press enter. Now your plugin is force-rebuild. You can read more about that later on in the section about faster development.</p>

        <p></p>


        <h3 class="cs-headline cs-headline--s">2. Sidebar Navigation <em>(Web Section / Item)</em></h3>

        <p>We could just simply fiddle our own sidebar together but that is not the professional way.
            Do do it the professional way we will use the
            <a href="https://developer.atlassian.com/jiradev/jira-platform/building-jira-add-ons/jira-plugins2-overview/jira-plugin-module-types/web-section-plugin-module" target="_blank">
                Web Section Plugin Module
            </a>
            and the
            <a href="https://developer.atlassian.com/docs/getting-started/plugin-modules/web-item-plugin-module" target="_blank">
                Web Item Plugin Module
            </a>
            to hook into the JIRA Sidebar which renders for every administrator tab section, so that it will look like this.
        </p>

        {{ image('doc/step-01-planning-page-web-section-and-item.png', 'Step 1 - Web Section and Web Item', '60%') }}

        <p>You might need another coffee because here comes the code for the <code>atlassian-plugin.xml</code> which resides in <code>src/main/resources/</code></p>

        {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |<atlassian-plugin>
                    |...
                    |  <web-section key="admin_kitchen_duty_planning_section"
                    |               name="admin_kitchen_duty_planning_section"
                    |               location="admin_plugins_menu"
                    |               weight="20"
                    |               i18n-name-key="kitchen-duty-plugin.admin.planning.page.web.section.name">
                    |    <label key="kitchen-duty-plugin.admin.planning.page.web.section.name" />
                    |  </web-section>
                    |
                    |  <web-item key="admin_kitchen_duty_planning_webitem"
                    |            name="admin_kitchen_duty_planning_webitem"
                    |            section="admin_plugins_menu/admin_kitchen_duty_planning_section"
                    |            weight="15"
                    |            i18n-name-key="kitchen-duty-plugin.admin.planning.page.web.item.name">
                    |    <label key="kitchen-duty-plugin.admin.planning.page.web.item.name" />
                    |    <link linkId="admin_kitchen_duty_planning_webitem_link">/secure/KitchenDutyPlanningWebworkAction.jspa</link>
                    |  </web-item>
                    |
                    |</atlassian-plugin>
                ') }}

        <p>
            The <strong>web-section</strong> is the "container" which hold <em>web-items</em> and has a headline.
            <strong>Web-items</strong> are basically the navigation links and have a name and URL.
        </p>

        <div class="cs-v-spacer cs-v-spacer--small"></div>

        <p><em>So what is happening here?</em></p>

        <ul>
            <li>
                <p>
                    The <strong><code>web-section</code></strong> does need a <strong>unique key and name</strong>. The <strong>weight</strong> defines the order of the section relative to sections of other addons.
                    The <strong>location</strong> defines the page or tab under which the web-section should be injected; we use the Addons Tab.
                    The <code>&lt;label key</code> is some OSGi stuff I think, just name the key as the i18n-name-key.
                    Lastly the <code>i18n-name-key</code> is the identifier to the <code>kitchen-duty-plugin.properties</code> language file which contains the actual translations.
                </p>
            </li>
            <li><p>
                    The <strong><code>web-item</code></strong> has the same attributes as the web-section. But you need to specify a <code>section</code> which points to our web-section name.
                    The <code>&lt;link</code> object contains the actual URL to our page.
                </p>
            </li>
        </ul>


        <div class="cs-v-spacer cs-v-spacer--small"></div>

        <p>Since we heard about <strong>i18n</strong> now we need to define our values in the language file <code>kitchen-duty-plugin.properties</code>.</p>

        {{ csSource(lang='ini', filepath="src/main/resources/", filename="kitchen-duty-plugin.properties", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |# websection/webitems
                    |kitchen-duty-plugin.admin.planning.page.web.section.name = Kitchen Duty Plugin
                    |kitchen-duty-plugin.admin.planning.page.web.item.name = Planning Page
                ') }}

        <p>Alright this was a little complicated but now we have a nice sidebar navigation link.</p>


        <h3 class="cs-headline cs-headline--s">3. Content Section <em>(AUI Layout)</em></h3>

        <p>Ok this is a no-brainer since you already saw the content section. But to be consistent here is the screenshot ;)</p>

        {{ image('doc/step-01-planning-page-content.png', 'Step 1 - Content Section', '60%') }}

        <p>
            If you want to be the a-student you can read about <a target="_blank" href="https://docs.atlassian.com/aui/latest/docs/layout.html">AUI Layout</a>
            and play around a little. We will use that later to further style our pages.
        </p>

        <h3 class="cs-headline cs-headline--s">4. Internationalization <em>(i18n / Velocity)</em></h3>

        <p>You already saw some i18n for web-section/item names. Now we want to i18n-ize our html template.</p>

        <p>
            You might have seen the file-ending <code>.vm</code> already. That means the
            <strong><code>kitchen-duty-planning-success.vm</code></strong> is an <a target="_blank" href="http://velocity.apache.org/">Apache Velocity template</a>.
            Some might wonder now <em>"Didn't the ancient greek use velocity?! Is it really still around?"</em>. Yes it is and I think it does a great job.
        </p>

        <p>So let's get to action, we will change our html code using <code>i18n.getText("i18n.key")</code> which is a velocity helper to render the i18n value for a given key.</p>

        {{ csSource(lang='html', filepath="src/main/resources/templates/kitchen-duty-planning-webwork-module/", filename="kitchen-duty-planning-success.vm", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |<html>
                    |<head>
                    |    <title>$i18n.getText("kitchen-duty-plugin.admin.planning.page.title")</title>
                    |    <meta name="decorator" content="atl.admin">
                    |</head>
                    |<body>
                    |<h1>$i18n.getText("kitchen-duty-plugin.admin.planning.page.headline")</h1>
                    |
                    |<p>Now it looks nice :)</p>
                    |</body>
                    |</html>
                ') }}

        <p>Now we need to add the translations to the <code>kitchen-duty-plugin.properties</code> file and we are done internationalising our page.</p>

        {{ csSource(lang='ini', filepath="src/main/resources/", filename="kitchen-duty-plugin.properties", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |# kitchen-duty-planning-success.vm
                    |kitchen-duty-plugin.admin.planning.page.headline = Kitchen Duty Plugin - Planning Page
                    |kitchen-duty-plugin.admin.planning.page.title = Planning Page - Kitchen Duty Plugin
                ') }}



        <h3 class="cs-headline cs-headline--s">5. Admin only Authorization <em>(Webwork Action)</em></h3>

        <p>We are using a <strong>Webwork Action</strong> for our planning page and we can simply set <code>roles-required="admin"</code> in the
            <code>atlassian-plugin.xml</code> to enforce administrator only authorization.</p>

        {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep1, source='
                    |<webwork1 key="kitchen-duty-planning-webwork-module"
                    |          ...
                    |          roles-required="admin">
                ') }}

        <p>If you log out of JIRA now and browse again to the planning page you will see the administrator login form. When logging in as <code>admin</code> (password <code>admin</code>) you should be redirected to the planning page.</p>

        {{ image('doc/step-01-done.png', 'Step 1 - Done', '60%') }}

        <div class="cs-v-spacer"></div>

        <div class="cs-tutorial-step-review">
            <div class="cs-tutorial-step-review__headline">
                <strong>You have completed Step 1.</strong> Good Job! You can check out this step's solution on GitHub
            </div>
            <div class="cs-tutorial-step-review__link">
                <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-01-kitchen-duty-plugin">
                    https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-01-kitchen-duty-plugin
                </a>
            </div>
        </div>

        <div class="cs-v-spacer"></div>
        <p>The graphic shows marked green <strong>which components we implemented in this section</strong>.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
               {{ interactiveGraphic('p04-ig01', 'kitchen-duty-planning-page--component-overview',
               '{
                    "markedAsDone": [ "webwork-action", "html-view" ],
                    "markedAsTodo": [ ],
                    "markedAsGrayedOut": [ ],
                    "onClick": [ ]
                }')
               }}
            </div>
        </div>


        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>






    </div>
</div>

{% endblock %}
