{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Webwork Action and HTML View ~ Planning Page | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



{{ pageHeader(4) }}


<div class="container-fluid cs-content">
    <div class="row">
        <div class="col-md-12">
            {{ headline('Webwork Action and HTML View', 'm') }}
        </div>
    </div>
</div>

{% endblock %}
