{namespace JIRA.Templates.KDPO}
/**
 * Kitchen Duty Overview Page - Base Template
 */
{template .overviewPage}
    <div id="kdp-overview">
        <div id="kdp-calendar"></div>
    </div>
{/template}
