{% set CURRENT_PAGE_ID = 5 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>User Search REST Resource ~ Planning Page | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
    <meta description="Developing the User Search REST Resource for the Planning Page with JAX-RS of Kitchen Duty Plugin for Atlassian JIRA® by comSysto">
    <meta name="robots" content="index, follow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('User Search REST Resource', 'm') }}





        {# ############################################################# #}
        {# STEP 2 USER SEARCH REST #}
        {# ############################################################# #}



        <p>We will now create the <strong>User Search REST Resource</strong> so that our <strong>JS-Controller can search for usernames</strong>.</p>

        <p>What is a REST Resource? It is simply just a basic Controller (MVC) that reacts to certain HTTP Requests with a specific response.</p>

        <p>
            Atlassian uses <a target="_blank" href="https://en.wikipedia.org/wiki/Java_API_for_XML_Web_Services">JAX-WS</a> and <a target="_blank" href="https://en.wikipedia.org/wiki/Java_Architecture_for_XML_Binding">JAXB</a> for it's built in REST Resources.
            The actual implementation is hidden from us, and we don't really care about it since we just need to know that somewhere inside JIRA
            are OSGi bundles which provide the JAX-WS and JAXB implementation.</p>

        <p>Ok, enough of OSGi and theoretical jibber jabber! Let's create our REST Resource with an Atlassian SDK command, like we did create the Webwork Action before.</p>

        <p>Execute the command and choose <a href="https://developer.atlassian.com/docs/atlassian-platform-common-components/rest-api-development/rest-plugin-module" target="_blank"><strong>14: REST Plugin Module</strong></a> and fill out the prompts as stated below.</p>

        {{ csShell(shellCmd='atlas-create-jira-plugin-module', shellCmdOutput='
                    |Executing: /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1/bin/mvn com.atlassian.maven.plugins:maven-jira-plugin:6.1.2:create-plugin-module -gs /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1/conf/settings.xml
                    |Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256M; support was removed in 8.0
                    |[INFO] Scanning for projects...
                    |[INFO]
                    |[INFO] Using the builder org.apache.maven.lifecycle.internal.builder.singlethreaded.SingleThreadedBuilder with a thread count of 1
                    |[INFO]
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO] Building kitchen-duty-plugin 1.0.0-SNAPSHOT
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO]
                    |[INFO] --- maven-jira-plugin:6.1.2:create-plugin-module (default-cli) @ kitchen-duty-plugin ---
                    |Choose Plugin Module:
                    |1:  Component Import
                    |...
                    |14: REST Plugin Module
                    |15: RPC Endpoint Plugin
                    |...
                    |Choose a number (...): 14
                    |
                    |Enter New Classname MyRestResource: : UserSearchResource
                    |Enter Package Name com.comsysto.rest: : com.comsysto.kitchen.duty.rest
                    |Enter REST Path /usersearchresource: : /kitchenduty
                    |Enter Version 1.0: : 1.0
                    |
                    |Show Advanced Setup? (Y/y/N/n) N: : y
                    |
                    |Module Name User Search Resource: : Kitchen Duty Resources
                    |Module Key user-search-resource: : kitchen-duty-resources
                    |Module Description The User Search Resource Plugin: : All Kitchen Duty REST Resources
                    |i18n Name Key user-search-resource.name: : kitchen-duty-plugin.rest.resources.name
                    |i18n Description Key user-search-resource.description: : kitchen-duty-plugin.rest.resources.description
                    |Add Package To Scan? (Y/y/N/n) N: : y
                    |Enter Package: com.comsysto.kitchen.duty.rest
                    |...
                    |
                    |Add Package To Scan? (Y/y/N/n) N: : n
                    |
                    |Add Dispatcher? (Y/y/N/n) N: : n
                    |
                    |[INFO] Adding the following items to the project:
                    |[INFO]   [class: com.comsysto.kitchen.duty.rest.UserSearchResourceModel]
                    |[INFO]   [class: com.comsysto.kitchen.duty.rest.UserSearchResource]
                    |[INFO]   [class: it.com.comsysto.kitchen.duty.rest.UserSearchResourceFuncTest]
                    |[INFO]   [class: ut.com.comsysto.kitchen.duty.rest.UserSearchResourceTest]
                    |[INFO]   [dependency: com.atlassian.plugins.rest:atlassian-rest-common]
                    |[INFO]   [dependency: com.atlassian.sal:sal-api]
                    |[INFO]   [dependency: javax.servlet:servlet-api]
                    |[INFO]   [dependency: javax.ws.rs:jsr311-api]
                    |[INFO]   [dependency: javax.xml.bind:jaxb-api]
                    |[INFO]   [dependency: org.apache.wink:wink-client]
                    |[INFO]   [dependency: org.mockito:mockito-all]
                    |[INFO]   [module: rest]
                    |[INFO]   i18n strings: 2
                    |
                    |Add Another Plugin Module? (Y/y/N/n) N: : n
                    |
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO] BUILD SUCCESS
                    |[INFO] ------------------------------------------------------------------------
                    |[INFO] Total time: 01:52 min
                    |[INFO] Finished at: 2016-01-16T20:07:35+01:00
                    |[INFO] Final Memory: 24M/328M
                    |[INFO] ------------------------------------------------------------------------
                ') }}


        <p>The SDK created and updated many files now and before we get into all the details let's fire up <code>atlas-run</code> again
            and see what has been created for us.</p>

        <p>Once JIRA is started <strong>browse to <a class="cs-do-wrap" href="http://server/jira/rest/kitchenduty/1.0/message" target="_blank">http://server/jira/rest/kitchenduty/1.0/message</a></strong> and you should see the following.</p>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-02-rest-user-search-response-xml.png" data-lightbox="02-step" data-title="Step 2 - XML Response of User Search REST Resource">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-02-rest-user-search-response-xml.png" class="img-thumbnail img-fluid" alt="Step 2 - XML Response of User Search REST Resource">
                    </a>
                </p>
            </div>
        </div>



        <p>That's nice. But now we need to understand what is going on. So here is a <strong>short recap of what has been created</strong>.</p>

        <ol>
            <li><p>The <code>pom.xml</code> has been altered to provide necessary dependencies for JAX-WS API, Servlet API and some testing Dependencies.</p></li>
            <li><p>The <code>atlassian-plugin.xml</code> has been altered to register the REST Resource to listen to the baseUrl <code>http://server/jira/rest/kitchenduty/1.0/*</code></p></li>
            <li><p>There now is a <code>UserSearchResource.java</code> which is the actual REST Controller which delivers the response.</p>
                <p>In addition to the REST Controller there is <code>UserSearchResourceModel.java</code> which is the Model which is delivered as XML in the REST Controllers response.</p>
            </li>
            <li><p>An unit-test <code>UserSearchResourceTest</code> and integration-test <code>UserSearchResourceFuncTest</code> file has be created.</p></li>
        </ol>

        <p>We will now get into all the details and implement the needed features for the user search on the fly.</p>

        <h3 class="cs-headline cs-headline--s">1. Dependencies <em>(pom.xml)</em></h3>

        <p>The <code>pom.xml</code> has these new lines which are quite self explanatory. If you want to read everything in detail read the <a href="https://developer.atlassian.com/docs/atlassian-platform-common-components/rest-api-development/rest-plugin-module" target="_blank">REST Plugin Module documentation</a>.</p>

        {{ csSource(lang='xml', source='
                    |<dependency>
                    |    <groupId>javax.servlet</groupId>
                    |    <artifactId>servlet-api</artifactId>
                    |    <version>2.4</version>
                    |    <scope>provided</scope>
                    |</dependency>
                    |<dependency>
                    |    <groupId>javax.xml.bind</groupId>
                    |    <artifactId>jaxb-api</artifactId>
                    |    <version>2.1</version>
                    |    <scope>provided</scope>
                    |</dependency>
                    |<dependency>
                    |    <groupId>com.atlassian.plugins.rest</groupId>
                    |    <artifactId>atlassian-rest-common</artifactId>
                    |    <version>1.0.2</version>
                    |    <scope>provided</scope>
                    |</dependency>
                    |<dependency>
                    |    <groupId>org.apache.wink</groupId>
                    |    <artifactId>wink-client</artifactId>
                    |    <version>1.1.3-incubating</version>
                    |    <scope>test</scope>
                    |</dependency>
                ') }}

        {# CHECK IF NECESSARY!

        <p>But we will change the <code>servlet-api</code> to version <code>3.0</code> since that is the API we will code against and which is running inside current JIRA versions. So change it like this.</p>

        {{ csSource(lang='xml', source='
            |<dependency>
            |    <groupId>javax.servlet</groupId>
            |    <artifactId>servlet-api</artifactId>
            |    <version>2.4</version>
            |    <scope>provided</scope>
            |</dependency>
        ') }}

        #}




        <h3 class="cs-headline cs-headline--s">2. REST Resources Handler <em>(atlassian-plugin.xml)</em></h3>

        <p>As already mentioned the <code>atlassian-plugin.xml</code> has been altered to register the REST Resource to listen to the baseUrl <code>http://server/jira/rest/kitchenduty/1.0/*</code>.</p>

        <p>The <code>path</code> and <code>version</code> build the baseurl relative to <code>http://server/jira/rest/*</code>.</p>

        <p><code>package</code> will enable Component Scan (which I think is redundant, but doesn't hurt).</p>

        {{ csSource(lang='xml', source='
                    |<rest name="Kitchen Duty Resources"
                    |      i18n-name-key="kitchen-duty-plugin.rest.resources.name"
                    |      key="kitchen-duty-resources"
                    |      path="/kitchenduty"
                    |      version="1.0">
                    |  <description key="kitchen-duty-plugin.rest.resources.description">All Kitchen Duty REST Resources</description>
                    |  <package>com.comsysto.kitchen.duty.rest</package>
                    |</rest>
                ') }}

        <p>You already know <code>i18n-name-key</code> and the other attributes from the Webwork Action and therefore are not wondering that there are some new i18n key/value pairs inside <code>kitchen-duty-plugin.properties</code>.</p>

        {{ csSource(lang='ini', source='
                    |kitchen-duty-plugin.rest.resources.name=Kitchen Duty Resources
                    |kitchen-duty-plugin.rest.resources.description=All Kitchen Duty REST Resources
                ') }}


        <h3 class="cs-headline cs-headline--s">3. REST Controller and Model</h3>

        <p>
            In the directory <code>src/main/java/</code> in the package <code>com.comsysto.kitchen.duty.rest</code> there is now the
            <code>UserSearchResource.java</code> and the <code>UserSearchResourceModel.java</code>. You can see what has been created in the <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/commit/95b8ebf5ff20a77c6b0853cd93ad0b465033e6f6">GitHub commit 95b8ebf</a>.
        </p>

        <p>
            We will change the code to <strong>provide GET Endpoint to search usernames</strong>.
        </p>

        <div class="row">
            <div class="col-md-6">
                {%  set uniqueIdUserSearchResourceStep2 = 'step2-usersearchresource' %}
                {{ csSource(lang='java', filename="UserSearchResource.java", uniqueId=uniqueIdUserSearchResourceStep2, source='
                            |package com.comsysto.kitchen.duty.rest;
                            |
                            |import com.atlassian.jira.bc.user.search.UserSearchParams;
                            |import com.atlassian.jira.bc.user.search.UserSearchService;
                            |import com.atlassian.plugins.rest.common.security.AnonymousAllowed;
                            |
                            |import javax.inject.Inject;
                            |import javax.inject.Named;
                            |import javax.servlet.http.HttpServletRequest;
                            |import javax.ws.rs.GET;
                            |import javax.ws.rs.Path;
                            |import javax.ws.rs.Produces;
                            |import javax.ws.rs.QueryParam;
                            |import javax.ws.rs.core.Context;
                            |import javax.ws.rs.core.MediaType;
                            |import javax.ws.rs.core.Response;
                            |import java.util.ArrayList;
                            |import java.util.List;
                            |
                            |@Named {{{point::1}}}
                            |@Path("/user")  {{{point::2}}}
                            |public class UserSearchResource {
                            |
                            |    private UserSearchService userSearchService; {{{point::3}}}
                            |
                            |    @Inject {{{point::4}}}
                            |    public UserSearchResource(UserSearchService userSearchService) {
                            |        this.userSearchService = userSearchService;
                            |    }
                            |
                            |    {{{point::5}}}
                            |    public UserSearchResource() {
                            |    }
                            |
                            |    @GET
                            |    @Path("/health") {{{point::6}}}
                            |    @Produces({MediaType.APPLICATION_JSON})
                            |    @AnonymousAllowed {{{point::7}}}
                            |    public Response health() {
                            |        return Response.ok("ok").build();
                            |    }
                            |
                            |    /**
                            |     * Call from select2 JS plugin
                            |     * Response needs to look like this:
                            |     * [{ \'id\': 1, \'text\': \'Demo\' }, { \'id\': 2, \'text\': \'Demo 2\'}]
                            |     */
                            |    @GET
                            |    @Path("/search") {{{point::8}}}
                            |    @Produces({MediaType.APPLICATION_JSON})
                            |    public Response searchUsers(@QueryParam("query") final String userQuery, {{{point::9}}}
                            |                                @Context HttpServletRequest request {{{point::10}}}) {
                            |        List<UserSearchResourceModel> users = findUsers(userQuery);
                            |        return Response.ok(users).build(); {{{point::11}}}
                            |    }
                            |
                            |    private List<UserSearchResourceModel> findUsers(String query) {
                            |        List<UserSearchResourceModel> userSearchResourceModels =
                            |                                           new ArrayList<UserSearchResourceModel>();
                            |        UserSearchParams searchParams = UserSearchParams.builder()
                            |            .includeActive(true)
                            |            .sorted(true)
                            |            .build();
                            |        List<String> users = userSearchService.findUserNames(query, searchParams); {{{point::12}}}
                            |        if (users != null) {
                            |            for (String user : users) {
                            |                userSearchResourceModels.add(new UserSearchResourceModel(user, user));
                            |            }
                            |        }
                            |        return userSearchResourceModels;
                            |    }
                            |}
                        ') }}
            </div>
            <div class="col-md-6">

                <div class="list-group cs-source-point-list" data-source-target="{{ uniqueIdUserSearchResourceStep2 }}">
                    <div class="list-group-item cs-source-point-list__item">
                        Our REST Controller should be a Spring-Bean and get its dependencies autowired. Therefore provide the JSR annotation <code>@Named</code>
                        on classlevel.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We want that all REST Endpoints of our REST Controller will have an URL-prefix <code>/user</code>, therefore we use the <code>@Path</code> annotation.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The <code>UserSearchService</code> is a JIRA Service which will provide us methods to search for users. This Servie needs to be imported from a foreign OSGi bundle, we will see about that later.
                        Why not use <code>@ComponentImport</code> here you ask? Well try and if it works for you that would be nice. But I am getting some strange WADLGenerator Exceptions when running <code>atlas-integration-test</code>.
                        Therefore I use a little trick and import the component somewhere else. Once it is imported somewhere inside our bundle we can use it here. We will see about that later.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We use <code>@Inject</code> for constructor injection, so that our UserSearchService will be injected by Spring on bean creation.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We provide a default constructor just in case.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Since our user search Endpoint will be rather complex we want a simple health endpoint to test the REST API in an easy way.
                        Therefore we define a Method as <code>@GET</code> with <code>@Path("/health")</code> which produces JSON <code>@Produces({MediaType.APPLICATION_JSON})</code>.
                        This endpoint will be reachable via <code>http://localhost:2990/jira/rest/kitchenduty/1.0/user/health</code>.
                    </div>
                    <a class="list-group-item cs-source-point-list__item">
                        The health endpoint will be reachable without authentication via <code>@AnonymousAllowed</code>.
                        So you can curl the URL easily and will get an <code>ok</code> as response.
                    </a>
                    <div class="list-group-item cs-source-point-list__item">
                        Alright now we code the actual user search Endpoint with <code>@Path("/search")</code>. We do NOT use <code>@AnonymousAllowed</code> here
                        because we don't want unauthenticated users search our user database.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        As we want to search for username, somehow our search keyword needs to be passed as URL-parameter. This
                        is done via <code>@QueryParam("query")</code> which leads to the following URL for our endpoint
                        <code>http://localhost:2990/jira/rest/kitchenduty/1.0/user/search?query=foo</code>.
                        <br><br>Why use QueryParam instead of PathParam you ask? I see you like nice URL-patterns and so do I, but we will see later that the AUI select2 widget
                        will send the search keyword as <code>query</code> param, so we stick to this default behaviour.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        With <code>@Context HttpServletRequest request</code> we get the HTTP-Request as paramater and could for example extract the authenticated user.
                        We don't need it now but we might soon. <code>@Context</code> ensures that JIRA context (I think special headers and stuff) is wired into the request.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        After we searched for users we build the response with <code>Response.ok(someObject).build()</code>.
                        The JAXB/JAX-WS implementation ensures that our Model (we will see about that later) is converted to JSON and that a HTTP 200 is send together with the JSON representation of our Object as response body.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We provide a private method that searches for usernames using the <code>UserSearchService</code>. If your OSGi component imports are not working correctly you will get a <em>NullPointerException</em> here.
                        After we searched the usernames we convert the username list into our model <code>UserSearchResourceModel</code> which will be serialized as JSON response body.
                    </div>
                </div>
            </div>

        </div>



        <div class="cs-v-spacer"></div>



        <p>
            Now we have the REST Controller but you will have some compile errors now because the <strong>Model needs to be implemented</strong>.
        </p>

        <div class="row">
            <div class="col-md-6">
                {%  set uniqueIdUserSearchResourceModelStep2 = 'step2-usersearchresourcemodel' %}
                {{ csSource(lang='java', filename="UserSearchResourceModel.java", uniqueId=uniqueIdUserSearchResourceModelStep2, source='
                            |package com.comsysto.kitchen.duty.rest;
                            |
                            |import javax.xml.bind.annotation.*;
                            |@XmlRootElement(name = "users") {{{point::1}}}
                            |@XmlAccessorType(XmlAccessType.FIELD) {{{point::2}}}
                            |public class UserSearchResourceModel {
                            |
                            |    @XmlElement {{{point::3}}}
                            |    private String text;
                            |
                            |    @XmlElement {{{point::4}}}
                            |    private String id;
                            |
                            |    public UserSearchResourceModel() {
                            |    }
                            |
                            |    public UserSearchResourceModel(String text, String id) {
                            |        this.text = text;
                            |        this.id = id;
                            |    }
                            |
                            |    public String getText() {
                            |        return text;
                            |    }
                            |
                            |    public void setText(String text) {
                            |        this.text = text;
                            |    }
                            |
                            |    public String getId() {
                            |        return id;
                            |    }
                            |
                            |    public void setId(String id) {
                            |        this.id = id;
                            |    }
                            |}
                        ') }}
            </div>
            <div class="col-md-6">

                <div class="list-group cs-source-point-list" data-source-target="{{ uniqueIdUserSearchResourceModelStep2 }}">
                    <div class="list-group-item cs-source-point-list__item">
                        Currently we only use JSON and have disabled XML as response format.
                        But if you someday want to use XML you will need a name for the container holding users.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        This basically tells the compiler to look for <code>@XmlElement</code> on the attribute level and not on the getters/setters.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Since the select2 widget from AUI wants to have a certain JSON format we just stick to that and define a property called <code>text</code>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The same thing for the property called <code>id</code>.
                    </div>
                    <div class="list-group-item">
                        Ok this will render us the following JSON format once we use it:<br>
                        <code>[ { "id": "foo", "text": "foo" }, { "id": "bar", "text": "bar" } ]</code>
                    </div>

                </div>
            </div>

        </div>


        <div class="cs-v-spacer cs-v-spacer"></div>



        <p>
            Ok we could run <code>atlas-run</code> now and see what we get, but as I told you we need to take care of the <code>@ComponentImport</code>
            of <code>UserSearchService</code> first. Since it doesn't matter where in our plugin we import foreign Interfaces we do it in the "dummy"-component so
            our imports will be available everywhere in our plugin.
        </p>

        <p>
            {{ csSource(lang='java', filename="MyPluginComponentImpl.java", uniqueId='sdfrg445ger', source='
                |package com.comsysto.kitchen.duty.rest;
                |
                |import com.atlassian.jira.bc.user.search.UserSearchService;
                |import com.atlassian.plugin.spring.scanner.annotation.imports.ComponentImport;
                |...
                |
                |@Named ("myPluginComponent")
                |public class MyPluginComponentImpl implements MyPluginComponent {
                |   ...
                |   @ComponentImport
                |   private UserSearchService userSearchService;
                |   ...
                |}
            ') }}
        </p>

        <div class="cs-v-spacer"></div>


        <h3 class="cs-headline cs-headline--s">4. Unit- and Integrationtests</h3>

        <p>
            Now that we have our code ready we need to take care of the <strong>Unit- and Integration-tests</strong>.
        </p>

        <p>
            First we will change the <strong>Unitest</strong> which reside in <code>/src/test/java/*</code> to something that makes sense. So we mock the <code>UserSearchService</code>
            and provide two users <code>bob</code> and <code>sue</code> as mocks. Now we test if our <code>searchUser</code> Method works as expected.
        </p>

        {{ csSource(lang='java', filename="UserSearchResourceTest.java", uniqueId='fdgbfdsgdfgfdg', source='
            |package ut.com.comsysto.kitchen.duty.rest;
            |
            |import com.atlassian.jira.bc.user.search.UserSearchParams;
            |import com.atlassian.jira.bc.user.search.UserSearchService;
            |import com.comsysto.kitchen.duty.rest.UserSearchResource;
            |import com.comsysto.kitchen.duty.rest.UserSearchResourceModel;
            |import org.junit.After;
            |import org.junit.Before;
            |import org.junit.Test;
            |import org.mockito.Mockito;
            |
            |import javax.ws.rs.core.Response;
            |import java.util.ArrayList;
            |import java.util.List;
            |
            |import static org.junit.Assert.assertEquals;
            |import static org.junit.Assert.assertNotNull;
            |import static org.mockito.Matchers.any;
            |import static org.mockito.Matchers.anyObject;
            |import static org.mockito.Matchers.anyString;
            |import static org.mockito.Mockito.mock;
            |import static org.mockito.Mockito.when;
            |
            |public class UserSearchResourceTest {
            |
            |    @Before
            |    public void setup() {
            |
            |    }
            |
            |    @After
            |    public void tearDown() {
            |
            |    }
            |
            |    @Test
            |    public void messageIsValid() {
            |        final List<String> mockedUsers = new ArrayList<>();
            |        mockedUsers.add("bob");
            |        mockedUsers.add("sue");
            |
            |        UserSearchService mockedUserSearchService = Mockito.mock(UserSearchService.class);
            |        when(mockedUserSearchService.findUserNames(anyString(), any(UserSearchParams.class))).thenReturn(mockedUsers);
            |
            |        UserSearchResource resource = new UserSearchResource(mockedUserSearchService);
            |
            |        Response response = resource.searchUsers("bo", null);
            |        final List<UserSearchResourceModel> users = (List<UserSearchResourceModel>) response.getEntity();
            |
            |        assertEquals("should contain bob", "bob", users.get(0).getText());
            |    }
            |}
        ') }}

        <p>
            Now we can run <code>atlas-unit-test</code> to run all our Unittests.
        </p>


        {{ csShell(shellCmd='atlas-unit-test', shellCmdOutput='
            |[INFO] ------------------------------------------------------------------------
            |[INFO] Building kitchen-duty-plugin 1.0.0-SNAPSHOT
            |[INFO] ------------------------------------------------------------------------
            |[INFO]
            |[INFO] --- maven-jira-plugin:6.1.2:compress-resources (default-compress-resources) @ kitchen-duty-plugin ---
            |[INFO] Compiling javascript using YUI
            |...
            |
            |-------------------------------------------------------
            | T E S T S
            |-------------------------------------------------------
            |Running ut.com.comsysto.kitchen.duty.MyComponentUnitTest
            |Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.051 sec
            |Running ut.com.comsysto.kitchen.duty.rest.UserSearchResourceTest
            |Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.148 sec
            |Running ut.com.comsysto.kitchen.duty.webwork.KitchenDutyPlanningWebworkActionTest
            |Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0 sec
            |
            |Results :
            |
            |Tests run: 3, Failures: 0, Errors: 0, Skipped: 0
            |
            |[INFO] ------------------------------------------------------------------------
            |[INFO] BUILD SUCCESS
            |[INFO] ------------------------------------------------------------------------
            |[INFO] Total time: 3.477 s
            |[INFO] Finished at: 2016-03-11T19:34:06+01:00
            |[INFO] Final Memory: 25M/320M
            |[INFO] ------------------------------------------------------------------------
            |
         ') }}

        <div class="cs-v-spacer cs-v-spacer"></div>

        <p>
            Now that Unittests are working let us modify the created <strong>Integrationtest</strong>.
        </p>


        <div class="row">
            <div class="col-md-6">
                {%  set idUserSearchResourceFuncTestStep2 = 'step2-usersearchresourcefunctest' %}
                {{ csSource(lang='java', filename="UserSearchResourceFuncTest.java", uniqueId=idUserSearchResourceFuncTestStep2, source='
                    |package it.com.comsysto.kitchen.duty.rest;
                    |
                    |import org.apache.wink.client.ClientConfig;
                    |import org.apache.wink.client.Resource;
                    |import org.apache.wink.client.RestClient;
                    |import org.apache.wink.client.handlers.BasicAuthSecurityHandler;
                    |import org.junit.After;
                    |import org.junit.Before;
                    |import org.junit.Test;
                    |
                    |import static org.junit.Assert.assertEquals;
                    |import static org.junit.Assert.assertNotNull;
                    |
                    |public class UserSearchResourceFuncTest {
                    |
                    |    private String baseUrl;
                    |
                    |    @Before
                    |    public void setup() {
                    |        baseUrl = System.getProperty("baseurl"); {{{point::1}}}
                    |    }
                    |
                    |    @After
                    |    public void tearDown() {
                    |
                    |    }
                    |
                    |    @Test
                    |    public void testSearchUser__unAuthorized() { {{{point::2}}}
                    |        String resourceUrl = baseUrl + "/rest/kitchenduty/1.0/user/search?query=adm";
                    |        String response = httpGet(resourceUrl);
                    |        assertNotNull("should not be null", response);
                    |        assertEquals("should contain unauthorized message",
                    |            toJSON("{\'message\':\'Client must be authenticated to access this resource.\',\'status-code\':401}"),
                    |            response);
                    |    }
                    |    @Test
                    |    public void testSearchUser__authorized() { {{{point::3}}}
                    |        String resourceUrl = baseUrl + "/rest/kitchenduty/1.0/user/search?query=adm";
                    |        String response = httpGet(resourceUrl, "admin", "admin");
                    |        assertNotNull("should not be null", response);
                    |        assertEquals("should contain admin",
                    |            toJSON("[{\'text\':\'admin\',\'id\':\'admin\'}]"),
                    |            response);
                    |    }
                    |
                    |    private String toJSON(String text) { {{{point::4}}}
                    |        return text.replaceAll("\'", "\\"");
                    |    }
                    |
                    |    private String httpGet(String url) { {{{point::5}}}
                    |        return _httpGet(url, null);
                    |    }
                    |
                    |    private String httpGet(String url, String username, String password) { {{{point::6}}}
                    |        ClientConfig config = new ClientConfig();
                    |        BasicAuthSecurityHandler basicAuthSecHandler = new BasicAuthSecurityHandler();
                    |        basicAuthSecHandler.setUserName(username);
                    |        basicAuthSecHandler.setPassword(password);
                    |        config.handlers(basicAuthSecHandler);
                    |        return _httpGet(url, config);
                    |    }
                    |
                    |    private String _httpGet(String url, ClientConfig config) { {{{point::7}}}
                    |        RestClient client = new RestClient();
                    |        if (config != null) {
                    |            client = new RestClient(config);
                    |        }
                    |        Resource resource = client.resource(url);
                    |        return resource
                    |            .header("Accept", "application/json;q=1.0")
                    |            .get()
                    |            .getEntity(String.class);
                    |    }
                    |}
                ') }}
            </div>
            <div class="col-md-6">

                <div class="list-group cs-source-point-list" data-source-target="{{ idUserSearchResourceFuncTestStep2 }}">
                    <div class="list-group-item cs-source-point-list__item">
                        Since we will be running a special SDK command to execute our Integrationtests the SDK will provide a system property
                        with the base URL to JIRA. We set that during <code>@Before</code> phase of our test.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Our first test should test authentication, therefore we call our REST Resource without credentials and expect a <code>HTTP 401</code>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Our second test should test a valid response authenticated wit the user admin.
                        We search for <code>adm</code> and expect to get <code>admin</code> as result.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        This is just a little helper method to replace single quotes to double quotes,
                        so that we can easily write JSON with single quotes in our tests.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        A convenience Method to fire a HTTP GET request without authentication.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        A convenience Method to fire a HTTP GET request with authentication (basic auth).
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The low-level HTTP GET method using the <code>wink</code> RestClient. You will need to write
                        more of it if your tests get more complex, but for us this is enough for now.
                    </div>
                </div>
            </div>

        </div>



        <p>
            Now we can run <code>atlas-integration-test</code> to run all our Integrationtests. You might want to get another coffee during that run, it takes some time.
        </p>


        {{ csShell(shellCmd='atlas-integration-test', shellCmdOutput='
            |[INFO] ------------------------------------------------------------------------
            |[INFO] Building kitchen-duty-plugin 1.0.0-SNAPSHOT
            |[INFO] ------------------------------------------------------------------------
            |[INFO]
            |[INFO] --- maven-jira-plugin:6.1.2:compress-resources (default-compress-resources) @ kitchen-duty-plugin ---
            |[INFO] Compiling javascript using YUI
            |[INFO] 0 Javascript file(s) were minified into target directory /Users/bg/git-work/kitchen-duty-MASTER/step-02-kitchen-duty-plugin/target/classes
            |[INFO] 0 CSS file(s) were minified into target directory /Users/bg/git-work/kitchen-duty-MASTER/step-02-kitchen-duty-plugin/target/classes
            |[INFO] Compressing XML files
            |[INFO] 0 XML file(s) were minified into target directory /Users/bg/git-work/kitchen-duty-MASTER/step-02-kitchen-duty-plugin/target/classes
            |[INFO]
            |....
            |[INFO] --- atlassian-spring-scanner-maven-plugin:1.2.6:atlassian-spring-scanner (default) @ kitchen-duty-plugin ---
            |[INFO] Starting Atlassian Spring Byte Code Scanner...
            |[INFO]
            |
            |... 4 million lines later ...
            |
            |-------------------------------------------------------
            | T E S T S
            |-------------------------------------------------------
            |Running it.com.comsysto.kitchen.duty.MyComponentWiredTest
            |Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.248 sec
            |Running it.com.comsysto.kitchen.duty.rest.UserSearchResourceFuncTest
            |Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.018 sec
            |
            |Results :
            |
            |Tests run: 3, Failures: 0, Errors: 0, Skipped: 0
            |
            |[INFO] jira: Shutting down
            |[INFO] using codehaus cargo v1.4.7
            |...
            |[INFO] ------------------------------------------------------------------------
            |[INFO] BUILD SUCCESS
            |[INFO] ------------------------------------------------------------------------
            |[INFO] Total time: 01:10 min
            |[INFO] Finished at: 2016-03-11T19:38:26+01:00
            |[INFO] Final Memory: 32M/437M
            |[INFO] ------------------------------------------------------------------------
         ') }}


        <div class="cs-v-spacer"></div>


        <h3 class="cs-headline cs-headline--s">Finally let's do a manual test</h3>

        <p>
            Alright now it is time to startup and see what we get. Run the plugin with <code>atlas-run</code> and then we use Curl to search for users.
            Wait for atlas-run to startup JIRA and then fire a search request against our User Search REST Resource:
        </p>


        {{ csShell(shellCmd='curl --user admin:admin  http://localhost:2990/jira/rest/kitchenduty/1.0/user/search?query=adm', shellCmdOutput='
                |[{"text":"admin","id":"admin"}]
         ') }}

        <p>
            Since we provided <code>?query=adm</code> we want a list of all user starting with <code>adm</code> which is currently only <code>admin</code>.
        </p>

        <div class="cs-v-spacer"></div>


        <div class="cs-tutorial-step-review">
            <div class="cs-tutorial-step-review__headline">
                <strong>You have completed Step 2.</strong> Good Job! You can check out this steps solution on GitHub
            </div>
            <div class="cs-tutorial-step-review__link">
                <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-02-kitchen-duty-plugin">
                    https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-02-kitchen-duty-plugin
                </a>
                <br>
                Or view the diff from Step 1 to Step 2 here: <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/commit/32094a91a93b9e05c839975df3ce8aa104c94bb1">32094a9</a>
            </div>
        </div>

        <div class="cs-v-spacer"></div>
        <p>The graphic shows marked green <strong>which components we implemented in this section</strong>.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
                {{ interactiveGraphic('p05-ig01', 'kitchen-duty-planning-page--component-overview',
                '{
                    "markedAsDone": [ "webwork-action", "html-view", "user-resource", "user-search-resource-model" ],
                    "markedAsTodo": [ ],
                    "markedAsGrayedOut": [ ],
                    "onClick": [ ]
                }')
                }}
            </div>
        </div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>





    </div>
</div>

{% endblock %}
