{% set CURRENT_PAGE_ID = 6 %}
{% set gitHubBaseUrlForStep3 = 'https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/blob/master/step-03-kitchen-duty-plugin/' %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>User Search JS Controller ~ Planning Page | Plugin Development Tutorial for Atlassian JIRA® | Kitchen Duty Plugin by comSysto</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
    <meta name="robots" content="index, follow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('User Search JS Controller', 'm') }}



        {# ############################################################# #}
        {# STEP 3 USER SEARCH JS CONTROLLER #}
        {# ############################################################# #}


        <p>In the previous section we implemented the User Search REST Endpoint which we will now use
        from our JS Controller. You might want to check the <a href="/kitchen-duty-plugin-for-atlassian-jira/tutorial/03-story-workshop-for-planning-page/">Story Workshop</a> again to see what we
        want to build here.</p>


        <h3 class="cs-headline cs-headline--s">AUI and JIRA Version?</h3>


        <div class="row">
            <div class="col-md-6">
                <p>Ok so we want to use the <strong><a href="https://docs.atlassian.com/aui/latest/docs/auiselect2.html">Select2 Widget from the AUI Framework</a></strong>.
                    First you have to know that each version of JIRA has AUI prepackaged in a certain version.
                    Therefore we will use that and not pull in a second version of that (really, don't do that).</p>

                <p>So we do a <code>atlas-run</code> and wait for JIRA to startup. Now open the Browser Console
                    and type:</p>


                {{ csShell(shellCmd='AJS.version', shellCmdOutput='
                    |5.7.31
                ') }}


                <p>It will print the exact version used in the JIRA target version we code our plugin for.
                    At this point you really have to think about the range of versions you want to support with
                    your plugin. If you want to support older JIRA versions you need to know the lowest version of AUI
                    availabe and code with backwardscompatibility in mind. To make things simpler we assume that our
                    plugin will be compatible starting from JIRA 7.0 up to the latest JIRA version (currently 7.1.x).</p>

                <p>Alright now open the
                    <a href="https://docs.atlassian.com/aui/5.7.31/docs/applicationHeader.html" target="_blank">AUI documentation for 5.7.31</a>
                    and select AUI Select 2 documentation.
                    Ok no offense to the people writing the docs but it is a little thin and it took me some
                    time to come up with a hassle-free way to use the Select 2 the way I want it to behave.
                    You just read the doc and I will provide you some code you should like.</p>
            </div>
            <div class="offset-md1 col-md-5">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-ajs-version.png" data-lightbox="03-step" data-title="Step 3 - Find out the AJS/AUI Version">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-ajs-version.png" class="img-thumbnail img-fluid" alt="Step 2 - Find out the AJS/AUI Version">
                    </a>
                </p>
            </div>
        </div>


        <h3 class="cs-headline cs-headline--s">What about JS Frameworks, Template Engines and jQuery?</h3>

        <p>Alright that is it about our Widget. But how do we write our JavaScript code?
        Is there any template engine? Any watchers and/or frameworks? You have good point there.
        Let me tell you a short tale about JIRA and JavaScript...

        <p>Ok basically we already used <code>AJS.version</code> before, so you might have already wondered
        what that actually was. <strong>JIRA bundles a lightweight jQuery which is bound to <code>AJS</code></strong>
        there is no <code>$</code> or <code>jQuery</code> and even if there were you are advised to
        use <code>AJS</code> prefix. So here is a basic example:</p>


        {{ csShell(shellCmd="var theFooElement = AJS.$('#foo');", shellCmdOutput='
                    |undefined
                ') }}

        <p>It will select the DOM element with id foo (when there is no such element it will return <code>undefined</code>).
            Ok just take that in for now, I know it is unfamiliar but we will get used to it.</p>

        <p>So what about template Engines? There is <a href="https://docs.atlassian.com/aui/latest/docs/soy.html" target="_blank">soy</a> which
            is basically the <a href="https://developers.google.com/closure/templates/"  target="_blank">Google Closure Template Framework</a>
            which can be used server-side and client-side. We will stick with velocity for server-side templates (you could switch to soy completely).
            And we will use soy-templates on the client-side.</p>

        <div class="cs-blockquote">
            <p>
                Small is beautiful - Avoid using big JavaScript frameworks that will register globals, bring in dependencies and tend to overwrite stuff that might break JIRA functionality.
                In most cases AUI already provides a way to solve your problem.
            </p>
        </div>


        <p>Alright let's resume what we are going to use:</p>

        <ul>
            <li>lightweight jQuery provided with <code>AJS</code> prefix</li>
            <li>AUI framework methods like <code>AJS.getI18nText</code></li>
            <li><a href="https://developer.atlassian.com/confdev/tutorials/writing-soy-templates-in-your-plugin" target="_blank">soy templates</a> (<a href="https://developers.google.com/closure/templates/"  target="_blank">Google Closure Template Framework</a>)</li>
            <li>html page with serverside velocity (which we will not use too much)</li>
        </ul>



        <h3 class="cs-headline cs-headline--s">Basic setup of JS Dependencies and Controller</h3>

        <p>Now we <strong>create our JS-Controller</strong> file in <code>/src/main/resources/js/kitchen-duty-plugin--planning-page-controller.js</code>.
        We put some simple dummy code inside which will trigger a <a href="https://docs.atlassian.com/aui/5.7.31/docs/flag.html">message flag</a> on pageload just to see if everything is working.</p>

        {{ csSource(lang='js', filepath="src/main/resources/js/", filename="kitchen-duty-plugin--planning-page-controller.js", ghBaseUrl=gitHubBaseUrlForStep3, source="
            |AJS.toInit(function(){
            |   require(['aui/flag'], function(flag) {
            |       var myFlag = flag({
            |           type: 'success',
            |           title: 'Kitchen Duty Plugin',
            |           body: 'JS Controller is working'
            |       });
            |   });
            |});
        ") }}

        <p>Our new JS Controller will not just work out of the box. We need to define a resource in <code>atlassian-plugin.xml</code>
            for our controller.</p>

        {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep3, source='
            |<web-resource key="kitchen-duty-plugin-resources--planning-page" name="kitchen-duty-plugin Web Resources for Planning Page">
            |	<dependency>com.atlassian.auiplugin:ajs</dependency>
            |	<resource type="download" name="kitchen-duty-plugin--planning-page-controller.js" location="/js/kitchen-duty-plugin--planning-page-controller.js"/>
            |	<context>kitchen-duty-plugin</context>
            |</web-resource>
        ') }}

        <p>We have defined the resource now but JIRA does not know when to use (load) the resources we defined.
        <strong>We will use the PageBuilderService to tell JIRA when to load our resources</strong>.
            (You might want to try <code>#require</code> in your velocity templates instead, but PageBuilderService always worked best for me)</p>

        <p>We pull in some additional dependencies to be able to use PageBuilderService. Add these dependencies to your <code>pom.xml</code>.</p>


        {{ csSource(lang='xml', filename="pom.xml", ghBaseUrl=gitHubBaseUrlForStep3, source='
            |<dependency>
            |	<groupId>com.atlassian.templaterenderer</groupId>
            |	<artifactId>atlassian-template-renderer-api</artifactId>
            |	<version>1.5.7</version>
            |	<scope>provided</scope>
            |</dependency>
            |<dependency>
            |	<groupId>com.atlassian.plugins</groupId>
            |	<artifactId>atlassian-plugins-webresource</artifactId>
            |	<version>3.3.3</version>
            |	<scope>provided</scope>
            |</dependency>
        ') }}

        <p>We already learned that we need to do a <code>@ComponentImport</code> somewhere in our application to pull dependencies from other OSGi Bundles.
        That is why we simply do that in our <code>MyPluginComponentImpl.java</code> file which we will (mis)use for that purpose from now on.</p>

        {{ csSource(lang='java', filepath="src/main/java/com/comsysto/kitchen/duty/impl/", filename="MyPluginComponentImpl.java", ghBaseUrl=gitHubBaseUrlForStep3, source='
            |import com.atlassian.webresource.api.assembler.PageBuilderService;
            |
            |...
            |
            |@ComponentImport
            |private PageBuilderService pageBuilderService;
        ') }}

        <p>Now that the PageBuilderService is usable we need to tell our Webwork Action to load our resources.</p>

        <div class="row">
            <div class="col-md-8">
                {{ csSource(lang='java', filepath="src/main/java/com/comsysto/kitchen/duty/webwork/", filename="KitchenDutyPlanningWebworkAction.java", ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='h768go8gbo8gv8gbu909', source='
                    |package com.comsysto.kitchen.duty.webwork;
                    |
                    |import com.atlassian.webresource.api.assembler.PageBuilderService;
                    |import org.slf4j.Logger;
                    |import org.slf4j.LoggerFactory;
                    |import com.atlassian.jira.web.action.JiraWebActionSupport;
                    |
                    |import javax.inject.Inject;
                    |import javax.inject.Named;
                    |
                    |@Named {{{point::1}}}
                    |public class KitchenDutyPlanningWebworkAction extends JiraWebActionSupport
                    |{
                    |    private static final Logger log = LoggerFactory.getLogger(KitchenDutyPlanningWebworkAction.class);
                    |
                    |    @Inject {{{point::2}}}
                    |    private PageBuilderService pageBuilderService;
                    |
                    |    @Override
                    |    public String execute() throws Exception {
                    |        pageBuilderService.assembler().resources().requireWebResource(
                    |           "com.comsysto.kitchen-duty-plugin:kitchen-duty-plugin-resources" {{{point::3}}}
                    |        ).requireWebResource(
                    |           "com.comsysto.kitchen-duty-plugin:kitchen-duty-plugin-resources--planning-page"
                    |        );
                    |
                    |        return "kitchen-duty-planning-success";
                    |    }
                    |
                    |    public void setPageBuilderService(PageBuilderService pageBuilderService) { {{{point::4}}}
                    |        this.pageBuilderService = pageBuilderService;
                    |    }
                    |}
                ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="h768go8gbo8gv8gbu909">
                    <div class="list-group-item cs-source-point-list__item">
                        Define our <code>KitchenDutyPlanningWebworkAction</code> as <code>@Named</code>-component.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Use <code>@Inject</code> to wire the <code>PageBuilderService</code>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We tell the PageBuilderService via <code>requireWebResource()</code>
                        to load our shared resource bundle and our planning-page bundle containing the controller.
                        The pattern for require is <code>"pluginKey:resourceKey"</code>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        And of course a setter for the setter injection of PageBuilderService.
                    </div>
                </div>
            </div>
        </div>


        <p>After starting up JIRA via <code>atlas-run</code> (you should restart atlas-run because we added something to pom.xml) you
            <strong>should see a green success message popping up on the top right </strong> when
        surfing to planning page: <a class="cs-do-wrap" href="http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa">http://localhost:2990/jira/secure/KitchenDutyPlanningWebworkAction.jspa</a></p>



        <div class="row">
            <div class="offset-md-2 col-md-8">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-js-controller-working.gif" data-lightbox="03-step" data-title="Step 3 - Test of JS Controller for Planning Page">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-js-controller-working.gif" class="img-thumbnail img-fluid" alt="Step 3 - Test of JS Controller for Planning Page">
                    </a>
                </p>
            </div>
        </div>

        <div class="cs-v-spacer cs-v-spacer--big"></div>

        <h3 class="cs-headline cs-headline--s">Setting up Select2 Widget to find Users</h3>

        <p>Before we start you might (not necessary) want to read in depth about <a href="https://docs.atlassian.com/aui/latest/docs/layout.html" target="_blank">AUI Layout</a>,
            <a href="https://docs.atlassian.com/aui/latest/docs/forms.html" target="_blank">AUI Forms</a> and <a href="https://developer.atlassian.com/confdev/tutorials/writing-soy-templates-in-your-plugin" target="_blank">Soy</a>.</p>

        <p>What is soy? It is a templating framework with templates we can use server-side and client-side. Cool! But we will need a transformer to transform the
        soy templates into JavaScript to be able to use them in our JS-Controller.</p>

        <p>Here is a short summary of what we will be doing now:</p>
        <ul>
            <li>Create a soy template for the user search.</li>
            <li>define a transformer to be able to use soy template in JS Controller.</li>
            <li>write some JS code to use <a href="https://docs.atlassian.com/aui/latest/docs/auiselect2.html" target="_blank">AUI Select2 widget</a> with our User Search REST Resource (see previous chapter).</li>
        </ul>

        <p>Create the soy template file in <code>src/main/resources/templates-soy/kitchen-duty-planning.soy</code> and paste the following code there.</p>
        <p>This file will later contain more than one template for each use case. But we will have one file per page.</p>

        <div class="row">
            <div class="col-md-8">
                {{ csSource(lang='soy', filepath="src/main/resources/templates-soy/", filename="kitchen-duty-planning.soy",
                            ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='dsfhuzk65fdsb6', source='
                    |{namespace JIRA.Templates.KDP} {{{point::1}}}
                    |/**
                    | * Kitchen Duty Planning Page - User Search Template
                    | */
                    |{template .userSearch} {{{point::2}}}
                    |<form class="aui" id="kdp-user-select-form"> {{{point::3}}}
                    |
                    |    <div class="field-group">
                    |        <label for="kdp-user-select">Users</label>
                    |        <div id="kdp-user-select"  {{{point::4}}}
                    |                 name="kdp-user-select"
                    |                 class="kdp-aui-select"
                    |                 multiple=""
                    |                 placeholder="start typing a username ...">
                    |        </div>
                    |        <div class="description">The users that should have kitchen duty.</div>
                    |    </div>
                    |    <div class="buttons-container">
                    |        <div class="buttons">
                    |            <input class="button submit" type="submit" {{{point::5}}}
                    |                   id="kdp-user-select-save-button"
                    |                   value="show"/>
                    |        </div>
                    |    </div>
                    |
                    |</form>
                    |{/template}
                ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="dsfhuzk65fdsb6">
                    <div class="list-group-item cs-source-point-list__item">
                        We define a namespace called <code>JIRA.Templates.KDP</code> for our templates.
                        Later we will access all out templates with <code>namespace.templateName</code>.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Our first actual template will be called <code>.userSearch</code> and contains HTML code we will later
                        use from our JS Controller.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The input-fields and AUI widgets will only render correctly if we surround them with a form that has a class called <code>aui</code>.
                        We define an id on the form to be able to access it via jQuery later.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        This is the container for the AUI Select 2 widget. We use a <code>div</code> with id <code>kdp-user-select</code>.
                        Don't forget <code>multiple</code> to tell the widget on init that this field will accept multiple values.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The last thing we need is a button to submit the form.
                        We also give the button a unique id to use it via jQuery later.
                    </div>
                </div>
            </div>
        </div>


        <p>Change velocity template so that we have one div container with an id we can use to dynamically insert our content which is rendered by JS-Controller.</p>
        <div class="row">
            <div class="col-md-8">
                {{ csSource(lang='html', filepath="src/main/resources/templates/kitchen-duty-planning-webwork-module/",
                            filename="kitchen-duty-planning-success.vm", ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='h76sdfsgdfgodjfnsdfnsdfdsdsf909', source='
                    |<html>
                    |<head>
                    |    <title>$i18n.getText("kitchen-duty-plugin.admin.planning.page.title")</title>
                    |    <meta name="decorator" content="atl.admin">
                    |</head>
                    |<body>
                    |<h1>$i18n.getText("kitchen-duty-plugin.admin.planning.page.headline")</h1>
                    |
                    |<div id="kdp-planning-page-container"></div> {{{point::1}}}
                    |
                    |</body>
                    |</html>
                ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="h76sdfsgdfgodjfnsdfnsdfdsdsf909">
                    <div class="list-group-item cs-source-point-list__item">
                        The only thing we change in our Velocity template is to place on div container which we will use
                        to append the rendered template(s) to.
                    </div>
                </div>
            </div>
        </div>

        <p>Change the JS-Controller to render the soy template, initialize the AUI Select 2 widget to work with our User Search REST Resource.</p>

        <div class="row">
            <div class="col-md-7">
                {{ csSource(lang='js', filepath="src/main/resources/js/", filename="kitchen-duty-plugin--planning-page-controller.js",
                            ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='iusndf98sidjcn', source="
                    |var showSuccessFlag = function(message) { {{{point::1}}}
                    |    require(['aui/flag'], function(flag) {
                    |        var myFlag = flag({
                    |            type: 'success',
                    |            title: 'Kitchen Duty Plugin',
                    |            close: 'auto',
                    |            body: message
                    |        });
                    |    });
                    |};
                    |
                    |var initUserSearch = function(restUrl) { {{{point::2}}}
                    |    var templateUserSearch = JIRA.Templates.KDP.userSearch(); {{{point::3}}}
                    |
                    |    var auiUserSelectOptions = {
                    |        ajax: {
                    |            url: function () {
                    |                return restUrl + '/user/search'; {{{point::4}}}
                    |            },
                    |            dataType: 'json',
                    |            delay: 250,
                    |            data: function (searchTerm) {
                    |                return {
                    |                    query: searchTerm
                    |                };
                    |            },
                    |            results: function (data) {
                    |                return {
                    |                    results: data
                    |                };
                    |            },
                    |            cache: true
                    |        },
                    |        minimumInputLength: 1,
                    |        tags: 'true' {{{point::5}}}
                    |    };
                    |
                    |    /* INIT TEMPLATES AND WIDGETS */
                    |
                    |    AJS.$('#kdp-planning-page-container').append(templateUserSearch); {{{point::6}}}
                    |    AJS.$('#kdp-user-select').auiSelect2(auiUserSelectOptions); {{{point::7}}}
                    |    AJS.$('#kdp-user-select-form').submit(function (e) { {{{point::8}}}
                    |        e.preventDefault();
                    |        AJS.$(AJS.$('#kdp-user-select').select2('data')).each(function () { {{{point::9}}}
                    |            showSuccessFlag(this.id);
                    |        });
                    |    });
                    |};
                    |
                    |AJS.toInit(function(){ {{{point::10}}}
                    |    AJS.log('KDP: Planning Page Controller initializing ...');
                    |    var baseUrl = AJS.params.baseURL; {{{point::11}}}
                    |    var restUrl = baseUrl + '/rest/kitchenduty/1.0';
                    |
                    |    initUserSearch(restUrl); {{{point::12}}}
                    |});
                    ") }}
            </div>
            <div class="col-md-5 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="iusndf98sidjcn">
                    <div class="list-group-item cs-source-point-list__item">
                        We put the message flag into a function so that we can easily create success flags everywhere we want.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We define an init function for our user search code. Inside there we will initialize everything we need for AUI Select 2.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The first thing we do is get our <code>userSearch</code> soy template and have it ready to use.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The <code>auiUserSelectOptions</code> are the options of AUI Select 2 which you can read in the docs.
                        We define the URL here where the AUI Select 2 field should query for usernames.
                        The rest of the options is necessary and should be self explanatory.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        This option tells the AUI Select 2 that we want to have tags which should be removable.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Now we append our rendered userSearch soy template to the DOM into our special div-container we defined earlier.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Right after that we initialize the AUI Select 2 field for userSearch with the previously defined options.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Now we hook into the submit button of the form and prevent the default-form-submit.
                        Otherwise the form would trigger a POST/GET request which we don't want.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Later we will hook the code to save the selection in here, but that will happen in future chapters.
                        For now we are fine with getting each selected username displayed as a success flag.
                        <code>select2('data')</code> returns an array with all selected elements.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        The <code>AJS.toInit</code> function is a little helper that executes its callback when the AUI Framework has loaded.
                        We put all calls to our init functions there.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We get the baseUrl from the AUI Framework. If you call the <code>AJS.params.baseURL</code> to early outside the <code>AJS.init</code> helper
                        you will get undefined errors. Depending on the baseUrl we build our base <code>restUrl</code> which all Endpoints have in common.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Finally we call the initUserSearch function and pass the restUrl.
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

        <p>Now we need to teach JIRA that we want to use soy in our client-side code and define a transformer and the soy template to load. Also we need to define AUI dependencies to be loaded.</p>
        <div class="row">
            <div class="col-md-8">
                {{ csSource(lang='xml', filepath="src/main/resources/", filename="atlassian-plugin.xml", ghBaseUrl=gitHubBaseUrlForStep3, uniqueId='difjn9sufpoj', source='
                    |<?xml version="1.0" encoding="UTF-8"?>
                    |
                    |<atlassian-plugin key="${atlassian.plugin.key}" name="${project.name}" plugins-version="2">
                    |...
                    |  <web-resource key="kitchen-duty-plugin-resources--planning-page" name="kitchen-duty-plugin Web Resources for Planning Page">
                    |    <dependency>com.atlassian.auiplugin:ajs</dependency>
                    |    <dependency>com.atlassian.auiplugin:aui-select2</dependency> {{{point::1}}}
                    |    <dependency>com.atlassian.auiplugin:aui-experimental-soy-templates</dependency> {{{point::2}}}
                    |    <transformation extension="soy"> {{{point::3}}}
                    |      <transformer key="soyTransformer">
                    |        <functions>com.atlassian.confluence.plugins.soy:soy-core-functions</functions>
                    |      </transformer>
                    |    </transformation>
                    |    <resource type="download" name="kitchen-duty-planning-soy.js" {{{point::4}}}
                    |              location="templates-soy/kitchen-duty-planning.soy"/>
                    |    <resource type="download" name="kitchen-duty-plugin--planning-page-controller.js"
                    |              location="/js/kitchen-duty-plugin--planning-page-controller.js"/>
                    |    <context>kitchen-duty-plugin</context>
                    |  </web-resource>
                    |...
                    |</atlassian-plugin>
                ') }}
            </div>
            <div class="col-md-4 cs-sticky-in-parent">
                <div class="list-group cs-source-point-list" data-source-target="difjn9sufpoj">
                    <div class="list-group-item cs-source-point-list__item">
                        We specify teh dependency to AUI Select 2 widget so that JIRA provides it when our bundle is loaded.
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We also specify the special soy dependency as it is stated in the docs (even though I think this does nothing)
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        Now we specify a transformer which transforms the soy templates into JavaScript. It transforms all files
                        with <code>soy</code> extension to JavaScript. (But not really all, see next point)
                    </div>
                    <div class="list-group-item cs-source-point-list__item">
                        We specify another download resource. This is the JavaScript file which contains all our soy templates for the planning page.
                        <code>location</code> is the path to the source file which is a soy file. The soy file will be dynamically transformed to JavaScript by
                        the previously defined transformer.
                    </div>
                </div>
            </div>
        </div>
        <p>Now restart <code>atlas-run</code> and refresh (shift-reload) the Page and you should see this:</p>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <p>
                    <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-user-search-select2.gif" data-lightbox="03-step" data-title="Step 3 - User Search working with AUI select2 widget and soy Template">
                        <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-03-user-search-select2.gif" class="img-thumbnail img-fluid" alt="Step 3 - User Search working with AUI select2 widget and soy Template">
                    </a>
                </p>
            </div>
        </div>

        <div class="cs-v-spacer cs-v-spacer--big"></div>


        <p>Ok we can search for users now and add or remove them to or from our input field.
            In the next chapter we tend to the actual Kitchen Duty Planning REST Resources that save our selection.
            Further chapters will tend to the JS Controller saving the selection and loading the AUI Select 2 with our saved selection.</p>

        <div class="cs-v-spacer cs-v-spacer--big"></div>


        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>






        <div class="cs-v-spacer"></div>
        <div class="cs-tutorial-step-review">
            <div class="cs-tutorial-step-review__headline">
                <strong>You have completed Step 3.</strong> Good Job! You can check out this steps solution on GitHub
            </div>
            <div class="cs-tutorial-step-review__link">
                <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-03-kitchen-duty-plugin">
                    https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-03-kitchen-duty-plugin
                </a>
            </div>
        </div>

        <div class="cs-v-spacer"></div>
        <p>The graphic shows marked green <strong>which components we implemented in this section</strong>.</p>
        <script>
            var dummyClickCallback = function() {
                toastr.warning('dummy callback', 'Awesome!')
            };
        </script>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                {{ interactiveGraphic('p06-ig01', 'kitchen-duty-planning-page--component-overview',
                '{
                    "markedAsDone": [ "webwork-action", "html-view", "user-resource", "user-search-resource-model", "user-js-controller" ],
                    "markedAsTodo": [ ],
                    "markedAsGrayedOut": [ ],
                    "onClick": [ { "webwork-action": "dummyClickCallback" } ]
                }')
                }}
            </div>
        </div>

        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>

    </div>
</div>


{% endblock %}
