{% set CURRENT_PAGE_ID = 6 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>User Search JS Controller ~ Planning Page | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-md-12">
        {{ headline('User Search JS Controller', 'm') }}




        {# ############################################################# #}
        {# STEP 3 USER SEARCH JS CONTROLLER #}
        {# ############################################################# #}


        <strong style="color:red">todo</strong>





        {# TODO: FURTHER READING

                            <h3 class="cs-headline cs-headline--s">Further Reading: Develop Faster</h3>

                            <p>SHOW: how to use atlas-cli and PI command to develop faster.</p>

                            <p>SHOW: Velocity template caching</p>
        #}

        {#
        <p>TODO: atlas-create-home-zip => predefined users</p>

        #}

        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>



        <div class="alert alert-info cs-summary">
            <p><strong>TO BE CONTINUED</strong> - We will continue this tutorial soon.</p>
            <hr class="cs-summary__spacer">
            <p>We will then tend to</p>
            <ul>
                <li><p>Creating REST Resources for UserSearch and KitchenDutyPlanningModel operations.</p></li>
                <li><p>Creating JavaScript Controller and HTML view with Atlassian AUI and interact with REST Resources.</p></li>
            </ul>
            <hr class="cs-summary__spacer">
            <p>Of course there will be more steps following after that. </p>
        </div>




        <script>
            var dummyClickCallback = function() {
                toastr.warning('dummy callback', 'Awesome!')
            };
        </script>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
                {{ interactiveGraphic('svg06kdt', 'kitchen-duty-planning-page--component-overview',
                '{ "markedAsDone": [ "webwork-action" ],
                   "markedAsTodo": [ ],
                   "markedAsGrayedOut": [ ],
                   "onClick": [ { "webwork-action": "dummyClickCallback" } ]
                 }'
                )}}
            </div>
        </div>







        <div class="cs-v-spacer cs-v-spacer--big"></div>
        <div class="cs-v-spacer cs-v-spacer--big"></div>

    </div>
</div>


{% endblock %}
