{% set bodyClass = "cs-tutorial" %}
{% set CURRENT_PAGE_ID = 2 %}
{% extends layoutSourceDir + "/layout_with_sidebar.html" %}
{% block head %}
    <title>Getting Started | Kitchen Duty Plugin for Atlassian JIRA® by comSysto</title>
    <meta description="An interactive step-by-step tutorial on how to write Plugins for Atlassian JIRA® by comSysto">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}



{{ pageHeader(CURRENT_PAGE_ID) }}


<div class="container-fluid cs-content">
    <div class="row">
        <div class="col-md-12">
            {{ headline('Getting Started', 'm') }}





            <div class="row">
                <div class="col-md-12">



                    {# ############################################################# #}
                    {# GETTING STARTED #}
                    {# ############################################################# #}

                    <p>That sounds like some simple features to implement so let's get to it.</p>

                    <p>First install the <a href="https://developer.atlassian.com/docs/getting-started/set-up-the-atlassian-plugin-sdk-and-build-a-project">Atlassian SDK</a> and <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">Oracle Java JDK 8</a> on your system.</p>

                    <p>After the installation all the <code>atlas-*</code> commands and <code>java</code> command should be on the <code>PATH</code> variable.</p>

                    <p>Let's do a <strong>short version check</strong> of the installed <strong>Atlassian SDK tools</strong>. I am using a Mac so the output will look a little different if you use another OS.</p>

                    {{ csShell(shellCmd='atlas-version', shellCmdOutput='
                        |ATLAS Version:    6.1.0
                        |ATLAS Home:       /Applications/Atlassian/atlassian-plugin-sdk-6.1.0
                        |ATLAS Scripts:    /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/bin
                        |ATLAS Maven Home: /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1
                        |AMPS Version:     6.1.2
                        |--------
                        |Executing: /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1/bin/mvn --version -gs /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1/conf/settings.xml
                        |Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256M; support was removed in 8.0
                        |Apache Maven 3.2.1 (ea8b2b07643dbb1b84b6d16e1f08391b666bc1e9; 2014-02-14T18:37:52+01:00)
                        |Maven home: /Applications/Atlassian/atlassian-plugin-sdk-6.1.0/apache-maven-3.2.1
                        |Java version: 1.8.0_45, vendor: Oracle Corporation
                        |Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre
                        |Default locale: de_DE, platform encoding: UTF-8
                        |OS name: "mac os x", version: "10.10.5", arch: "x86_64", family: "mac"
                    ') }}

                    <p>Now check if <strong>Java is correctly installed</strong>.</p>

                    {{ csShell(shellCmd='java -version', shellCmdOutput='
                        |java version "1.8.0_45"
                        |Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
                        |Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)
                    ') }}

                    <p>Ok once you got all that set-up we can start.</p>



                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    {# ############################################################# #}
                    {# STEP 0 #}
                    {# ############################################################# #}

                    {{ headline('Creating the base project', 'm') }}

                    <p>We will now create the JIRA Plugin via the <a href="https://developer.atlassian.com/docs/developer-tools/working-with-the-sdk/command-reference/atlas-create-jira-plugin">Atlassian SDK command <code>atlas-create-jira-plugin</code></a>. Change to a folder where you want to create your Plugin.</p>
                    <p>You will be asked to specify a <code>groupId</code>, <code>artifactId</code>, <code>version</code> and <code>package</code>. You can see my choices below.</p>

                    {{ csShell(shellCmd='atlas-create-jira-plugin', shellCmdOutput='
                        |...
                        |Define value for groupId: : com.comsysto
                        |Define value for artifactId: : kitchen-duty-plugin
                        |Define value for version:  1.0.0-SNAPSHOT: :
                        |Define value for package:  com.comsysto: : com.comsysto.kitchen.duty
                        |....
                        |Confirm
                        |Y
                        |...
                    ') }}


                    <p>Now the command should have created a folder called like the <code>artifactId</code>, in our case <code>kitchen-duty-plugin</code>.</p>

                </div>
                <div class="col-md-4">

                    <div class="cs-sidenote">
                        <div class="cs-sidenote__headline">
                            How do JIRA Plugins work?
                        </div>
                        <div class="cs-sidenote__content">
                            <div class="cs-sidenote__content-item">
                                JIRA Plugins are <a href="https://de.wikipedia.org/wiki/OSGi">OSGi</a> bundles.
                            </div>
                            <div class="cs-sidenote__content-item">
                                JIRA starts an OSGi Service Plattform during startup (e.g. <a href="http://felix.apache.org/">Apache felix</a>).
                            </div>
                            <div class="cs-sidenote__content-item">
                                By providing information in <code>pom.xml</code> and custom packaging via <code>atlas-package</code>
                                the SDK builds an OSGi Plugin bundle in form of a <code>jar</code> file.
                            </div>
                            <div class="cs-sidenote__content-item">
                                JIRA Plugins can therefore be installed into a running JIRA instance. Once installed they are executed on JIRA startup too.
                            </div>
                        </div>
                    </div>

                </div>
            </div>






            <div class="row">
                <div class="col-md-12">


                    <h3 class="cs-headline cs-headline--s"> Open Project in Java IDE</h3>

                    <p>Use your favorite Java IDE to open the project. I use <a href="https://www.jetbrains.com/idea/">JetBrains IntelliJ IDEA</a> since it is just awesome. If you want to use Eclipse it is fine with me but all the screenshots will be done with IntelliJ.</p>

                    <p>Once you have it opened we need to create 3 files for better usage with git and to tell the IDE how we want our indentation.</p>

                    <p>Create <code>.editorconfig</code> and add statements for line endings, charset and tab indentation. Since IntelliJ is awesome <a href="http://EditorConfig.org">EditorConfig Plugin</a> is already installed. If you are using another IDE get the plugin now.</p>

                    {{ csSource(lang='ini', source='
                         |# EditorConfig is awesome: http://EditorConfig.org
                         |root = true
                         |[*]
                         |end_of_line = lf
                         |insert_final_newline = true
                         |charset = utf-8
                         |
                         |[*.html]
                         |indent_style = space
                         |indent_size = 4
                         |
                         |[*.js]
                         |indent_style = space
                         |indent_size = 4
                         |
                         |[*.css]
                         |indent_style = space
                         |indent_size = 4
                         |
                         |[*.xml]
                         |indent_style = space
                         |indent_size = 4
                         |
                         |[*.java]
                         |indent_style = space
                         |indent_size = 4
                         |
                         |[*.vm]
                         |indent_style = space
                         |indent_size = 4
                    ') }}

                    <p>Create <code>.gitignore</code> and add ignore statements for files we do not want to commit.</p>

                    {{ csSource(lang='ini', source='
                        |.idea/
                        |*.iml
                        |*.log
                        |target/
                    ') }}

                    <p>Create <code>.gitattributes</code> and set line endings to unix.</p>

                    {{ csSource(lang='ini', source='
                        |*.svg eol=lf
                        |*.html eol=lf
                        |*.js eol=lf
                        |*.css eol=lf
                        |*.scss eol=lf
                        |*.json eol=lf
                        |*.sh eol=lf
                        |*.yml eol=lf
                        |*.md eol=lf
                        |*.txt eol=lf
                        |*.java eol=lf
                        |*.properties  eol=lf
                        |*.xml eol=lf
                    ') }}

                    <div class="cs-v-spacer cs-v-spacer--big"></div>


                    <div class="alert alert-warning cs-warning" role="alert">
                        <i class="fa fa-exclamation-triangle fa-lg cs-warning__icon"></i>
                        The created base project has some minor flaws and some things are still missing before it can actually be build.
                    </div>


                    <p>Edit <code>pom.xml</code> and add line <code>&lt;version&gt;3.3&lt;/version&gt;</code> to <code>maven-compiler-plugin</code>.</p>

                    {{ csSource(lang='xml', source='
                        |<plugin>
                        |    <artifactId>maven-compiler-plugin</artifactId>
                        |    <version>3.3</version>
                        |    <configuration>
                        |        <source>1.7</source>
                        |        <target>1.7</target>
                        |    </configuration>
                        |</plugin>
                    ') }}

                    <p>Also add in the <code>pom.xml</code> right before the closing <code>&lt;/dependencies&gt;</code>.</p>

                    {{ csSource(lang='xml', source='
                        |<dependencies>
                        |   ...
                        |   <dependency>
                        |       <groupId>com.atlassian.sal</groupId>
                        |       <artifactId>sal-api</artifactId>
                        |       <version>3.0.3</version>
                        |       <scope>provided</scope>
                        |   </dependency>
                        |</dependencies>
                    ') }}

                    <p>Now open <strong>Preferences</strong> in IntelliJ and set the built-in maven of the SDK together with the <code>settings.xml</code></p>
                    <p>(Tip: By calling <code>atlas-version</code> all paths including home directory of SDK are printed)</p>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>
                                <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-install-settings.png" data-lightbox="00-step-intellij" data-title="Step 0 - Set maven home and maven settings.xml">
                                    <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-install-settings.png" class="img-thumbnail img-responsive cs-tutorial-image" alt="Step 0 - Set maven home and maven settings.xml">
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="cs-v-spacer"></div>

                    <p>Since we need the <code>ATLAS_HOME</code> environment variable to get maven inside IntelliJ to work we set that as well.</p>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>
                                <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-atlas-home.png" data-lightbox="00-step-intellij" data-title="Step 0 - Set ATLAS_HOME variable">
                                    <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-atlas-home.png" class="img-thumbnail img-responsive cs-tutorial-image" alt="Step 0 - Set ATLAS_HOME variable">
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="cs-v-spacer"></div>

                    <p>Now you can click on the <strong>Maven-Tab</strong> on the right and click <strong>compile</strong> and you should have a successful build.</p>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>
                                <a href="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-successful-compile.png" data-lightbox="00-step-intellij" data-title="Step 0 - Successful Maven Compile">
                                    <img src="/kitchen-duty-plugin-for-atlassian-jira/images/doc/step-00-intellij-maven-successful-compile.png" class="img-thumbnail img-responsive cs-tutorial-image" alt="Step 0 - Successful Maven Compile">
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="cs-v-spacer"></div>

                    <p>If you do a <strong>Build</strong> &gt; <strong>Make Project</strong> now and open the <code>MyPluginComponentImpl.java</code> you should have no errors.</p>

                    <div class="cs-v-spacer"></div>

                    <div class="cs-tutorial-step-review">
                        <div class="cs-tutorial-step-review__headline">
                            <strong>You have completed Step 0.</strong> Good Job! You can check out this steps solution on GitHub
                        </div>
                        <div class="cs-tutorial-step-review__link">
                            <a href="https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-00-kitchen-duty-plugin">
                                https://github.com/comsysto/kitchen-duty-plugin-for-atlassian-jira/tree/master/step-00-kitchen-duty-plugin
                            </a>
                        </div>
                    </div>





                    <h3 class="cs-headline cs-headline--s">Further Reading: OSGi</h3>

                    <p>You can skip this chapter if you already know OSGi or if you are not interested in the deep internals of imports and exports beetween OSGi modules. The next Step of the tutorial will build on this knowledge.</p>

                    <p>As you opened <code>MyPluginComponentImpl.java</code> already you might have seen some annotations like <code>@ExportAsService</code> and <code>@ComponentImport</code>.</p>

                    <p>There is also an important passage of <code>maven-jira-plugin</code> in the <code>pom.xml</code> that contains the following lines.</p>

                    {{ csSource(lang='xml', source='
                    |...
                    |<artifactId>maven-jira-plugin</artifactId>
                    |...
                    |<instructions>
                    |    <Atlassian-Plugin-Key>${atlassian.plugin.key}</Atlassian-Plugin-Key>
                    |    <Export-Package>
                    |       com.comsysto.kitchen.duty.api,
                    |    </Export-Package>
                    |    <Import-Package>
                    |       org.springframework.osgi.*;resolution:="optional",
                    |       org.eclipse.gemini.blueprint.*;resolution:="optional",
                    |       *
                    |   </Import-Package>
                    |   <Spring-Context>*</Spring-Context>
                    |</instructions>
                    ') }}

                    <p>
                        We will now dive into unterstanding what all that means.
                        First you should read the <a href="https://en.wikipedia.org/wiki/OSGi">Wikipedia Article on OSGi</a>.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Services (OSGi)</strong></p>

                            <p>
                                Each bundle can publish and find interfaces and therefore use functionality from other bundles.
                                JIRA itself is composed of some OSGi bundles itself. Therefore we need to tell the Atlassian SDK which JIRA interfaces we want to use (the OSGi framework then finds the right bundle for us automatically).
                            </p>

                            <p><strong>Life-Cycle (OSGi)</strong></p>

                            <p>We can install, start and stop OSGi bundles during runtime. That means, while JIRA is running our plugin can be installed, started and stopped.</p>


                            <p><strong>Bundles (OSGi)</strong></p>

                            <p>Bundles (also called modules) only share Interfaces with other modules. You want to hide your implementation. The Atlassian SDK creates a <code>jar</code> file with
                                a custom <code>MANIFEST.mf</code> from the <code>Import/Export-Package</code> instructions of <code>pom.xml</code> and the <a href="https://bitbucket.org/atlassian/atlassian-spring-scanner/overview">Atlassian Spring Scanner Annotations e.g. <code>@ComponentImport</code></a>.</p>

                        </div>
                        <div class="col-md-6">
                            <p>
                                <a href="/kitchen-duty-plugin-for-atlassian-jira/images/drawings/00-mock-osgi-and-jira_big.jpg" data-lightbox="00-osgi" data-title="OSGi and JIRA">
                                    <img src="/kitchen-duty-plugin-for-atlassian-jira/images/drawings/00-mock-osgi-and-jira.jpg" class="img-thumbnail img-responsive" alt="OSGi and JIRA">
                                </a>
                            </p>
                        </div>
                    </div>

                    <p>We run the package command, so that the jar file is build.</p>

                    {{ csShell(shellCmd='atlas-package', shellCmdOutput='
                        |...
                        |[INFO] Building jar: /Users/../kitchen-duty-plugin/target/kitchen-duty-plugin-1.0.0-SNAPSHOT.jar
                        |[INFO] ------------------------------------------------------------------------
                        |[INFO] BUILD SUCCESS
                        |[INFO] ------------------------------------------------------------------------
                    ') }}

                    <p>We can now inspect the <code>MANIFEST.mf</code> file (I have shortened it a little).</p>
                    {{ csShell(shellCmd='cat target/classes/MANIFEST.md', shellCmdOutput='
                        |Manifest-Version: 1.0
                        |Atlassian-Build-Date: 2015-12-15T18:43:43+0100
                        |Atlassian-Plugin-Key: com.comsysto.kitchen-duty-plugin
                        |Bundle-Name: kitchen-duty-plugin
                        |Bundle-SymbolicName: com.comsysto.kitchen-duty-plugin
                        |Bundle-Vendor: comSysto
                        |Bundle-Version: 1.0.0.SNAPSHOT
                        |Export-Package: com.comsysto.kitchen.duty.api;version="1.0.0"
                        |Import-Package: org.springframework.osgi.service.exporter.support;resolution:=optional,
                        |org.springframework.osgi.service.importer.support;resolution:=optional,
                        |....
                        |Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=1.7))"
                        |Spring-Context: *
                    ') }}

                    <p>We see <code>Export-Package</code> and <code>Import-Package</code> statements with the values we expected from pom.xml and Annotations</p>

                    <div class="alert alert-info cs-summary">
                        <p class="cs-summary__headline"><i class="fa fa-lightbulb-o fa-lg"></i> Summary</p>
                        <hr class="cs-summary__spacer">
                        <p><strong>@ExportAsService</strong> is used to export our interface (e.g. <code>MyPluginComponent.java</code>) so that other OSGi bundles can use it as Spring Bean. Maybe you want to develop a base plugin and use its functionality from a second plugin, then you know now how to do it.</p>
                        <hr class="cs-summary__spacer">
                        <p><strong>@ComponentImport</strong> is used to import functionality from other OSGi bundles Spring Context such as JIRAs <code>ApplicationProperties</code>.</p>
                        <hr class="cs-summary__spacer">
                        <p>These annotations are used because JIRA uses <strong><a href="https://spring.io/">Spring</a> together with OSGi</strong> and these annotations help to make beans available as Spring Beans and to get them from the <strong>Spring Context</strong> (even if it is a spring context from other bundle).</p>
                        <hr class="cs-summary__spacer">
                        <p>If we want to do something low-level with OSGi imports and exports we can do that in the <strong>pom.xml</strong> with <code>&lt;Import-Package&gt;</code> and <code>&lt;Export-Package&gt;</code></p>
                    </div>




                    <p>
                        If you want to dive even deeper into OSGi and Atlassian read about <a href="https://bitbucket.org/atlassian/atlassian-spring-scanner/overview">Atlassian Spring Scanner</a>, watch the <a href="https://www.youtube.com/watch?v=BthwKfxATNE">Apache Felix Introduction Video</a>
                        or do the <a href="http://felix.apache.org/documentation/tutorials-examples-and-presentations/apache-felix-osgi-tutorial.html">Apache Felix Tutorials</a>.
                    </p>


                    <div class="cs-v-spacer cs-v-spacer--big"></div>


                    </div>
                </div>





        </div>
    </div>
</div>

{% endblock %}
